---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Apply for a Micro-Loan with TTR Cash Loan">
  <style is:inline>
    .sp-page-builder .page-content #section-id-0492efbb-2186-44dc-9725-971194e7015d {
      box-shadow: 0px 0px 0px 0px #FFFFFF;
      padding-top: 47px;
      padding-right: 0px;
      padding-bottom: 45px;
      padding-left: 0px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
    @media (max-width: 575.98px) {
      .sp-page-builder .page-content #section-id-0492efbb-2186-44dc-9725-971194e7015d {
        padding-top: 1px;
        padding-right: 0px;
        padding-bottom: 50px;
        padding-left: 0px;
      }
    }
    #column-id-d639cf6d-a0c8-4cc3-bb51-89dde17fe4b5 {
      box-shadow: 0 0 0 0 #FFFFFF;
    }
    #column-wrap-id-d639cf6d-a0c8-4cc3-bb51-89dde17fe4b5 {
      max-width: 8.299999999999997%;
      flex-basis: 8.299999999999997%;
    }
    @media (max-width: 1199.98px) {
      #column-wrap-id-d639cf6d-a0c8-4cc3-bb51-89dde17fe4b5 {
        max-width: 16.666667%;
        flex-basis: 16.666667%;
      }
    }
    @media (max-width: 991.98px) {
      #column-wrap-id-d639cf6d-a0c8-4cc3-bb51-89dde17fe4b5 {
        max-width: 16.666667%;
        flex-basis: 16.666667%;
      }
    }
    @media (max-width: 767.98px) {
      #column-wrap-id-d639cf6d-a0c8-4cc3-bb51-89dde17fe4b5 {
        max-width: 100%;
        flex-basis: 100%;
      }
    }
    @media (max-width: 575.98px) {
      #column-wrap-id-d639cf6d-a0c8-4cc3-bb51-89dde17fe4b5 {
        max-width: 100%;
        flex-basis: 100%;
      }
    }
    #column-id-6d198d9e-e103-4e0b-a108-bb105aa9c9ca {
      box-shadow: 0 0 0 0 #FFFFFF;
    }
    #column-wrap-id-6d198d9e-e103-4e0b-a108-bb105aa9c9ca {
      max-width: 75.0334%;
      flex-basis: 75.0334%;
    }
    @media (max-width: 1199.98px) {
      #column-wrap-id-6d198d9e-e103-4e0b-a108-bb105aa9c9ca {
        max-width: 66.666667%;
        flex-basis: 66.666667%;
      }
    }
    @media (max-width: 991.98px) {
      #column-wrap-id-6d198d9e-e103-4e0b-a108-bb105aa9c9ca {
        max-width: 66.666667%;
        flex-basis: 66.666667%;
      }
    }
    @media (max-width: 767.98px) {
      #column-wrap-id-6d198d9e-e103-4e0b-a108-bb105aa9c9ca {
        max-width: 100%;
        flex-basis: 100%;
      }
    }
    @media (max-width: 575.98px) {
      #column-wrap-id-6d198d9e-e103-4e0b-a108-bb105aa9c9ca {
        max-width: 100%;
        flex-basis: 100%;
      }
    }
    #sppb-addon-5e82e07c-cf9e-4093-bca8-b44c90bb899e {
      box-shadow: 0 0 0 0 #FFFFFF;
    }
    #column-id-2f969c4d-5b4d-49cd-b603-2441fdc0eb15 {
      box-shadow: 0 0 0 0 #FFFFFF;
    }
    #column-wrap-id-2f969c4d-5b4d-49cd-b603-2441fdc0eb15 {
      max-width: 16.666667%;
      flex-basis: 16.666667%;
    }
    @media (max-width: 1199.98px) {
      #column-wrap-id-2f969c4d-5b4d-49cd-b603-2441fdc0eb15 {
        max-width: 16.666667%;
        flex-basis: 16.666667%;
      }
    }
    @media (max-width: 991.98px) {
      #column-wrap-id-2f969c4d-5b4d-49cd-b603-2441fdc0eb15 {
        max-width: 16.666667%;
        flex-basis: 16.666667%;
      }
    }
    @media (max-width: 767.98px) {
      #column-wrap-id-2f969c4d-5b4d-49cd-b603-2441fdc0eb15 {
        max-width: 100%;
        flex-basis: 100%;
      }
    }
    @media (max-width: 575.98px) {
      #column-wrap-id-2f969c4d-5b4d-49cd-b603-2441fdc0eb15 {
        max-width: 100%;
        flex-basis: 100%;
      }
    }
  </style>

  <section id="sp-section-1">
    <div class="row">
      <div class="col-lg-12" id="sp-title">
        <div class="sp-column">
          <div class="sp-page-title">
            <div class="container">
              <h1 class="sp-page-title-heading">Apply Now</h1>
              <h2 class="sp-page-title-sub-heading">Get started with your micro-loan application. Visit a branch for final approval!</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="sp-main-body">
    <div class="row">
      <main class="col-lg-12" id="sp-component">
        <div class="sp-column">
          <div aria-live="polite" id="system-message-container"></div>
          <div class="sp-page-builder page-53" id="sp-page-builder">
            <div class="page-content">
              <section class="sppb-section" id="section-id-0492efbb-2186-44dc-9725-971194e7015d">
                <div class="sppb-row-container">
                  <div class="sppb-row">
                    <div class="sppb-row-column" id="column-wrap-id-d639cf6d-a0c8-4cc3-bb51-89dde17fe4b5">
                      <div class="sppb-column" id="column-id-d639cf6d-a0c8-4cc3-bb51-89dde17fe4b5">
                        <div class="sppb-column-addons"></div>
                      </div>
                    </div>
                    <div class="sppb-row-column" id="column-wrap-id-6d198d9e-e103-4e0b-a108-bb105aa9c9ca">
                      <div class="sppb-column" id="column-id-6d198d9e-e103-4e0b-a108-bb105aa9c9ca">
                        <div class="sppb-column-addons">
                          <div class="sppb-addon-wrapper sppb-hidden-sm sppb-hidden-xs addon-root-raw-html" id="sppb-addon-wrapper-5e82e07c-cf9e-4093-bca8-b44c90bb899e">
                            <div class="clearfix" id="sppb-addon-5e82e07c-cf9e-4093-bca8-b44c90bb899e">
                              <div class="sppb-addon sppb-addon-raw-html">
                                <div class="sppb-addon-content">
                                  <iframe src="https://4339-8888.webfin.co.za/webloans" style="width: 100%; height: 600px;"></iframe>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="sppb-row-column" id="column-wrap-id-2f969c4d-5b4d-49cd-b603-2441fdc0eb15">
                      <div class="sppb-column" id="column-id-2f969c4d-5b4d-49cd-b603-2441fdc0eb15">
                        <div class="sppb-column-addons"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </main>
    </div>
  </section>
</MainLayout>



