---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Fast, Fair Short-Term Loans in South Africa | TTR Cash Loan">
<style slot="head">
#sppb-addon-1566298347905 .sppb-addon-header .sppb-addon-title {
text-shadow: 2px 2px 3px #000;
}
.sppb-btn.sppb-btn-default.sppb-btn-outline {
background-color: #3f4094;
}
@media (max-width: 575.98px) {
#column-wrap-id-WpfgHc6QR9OvTc3h1BPtw {
margin-left: 0px !important;
}
}
.sp-page-builder .page-content #section-id-1565331468018 {
    background-image: url(/images/fam1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    box-shadow: 0px 0px 0px 0px #fff;
    margin: 0;
    color: #ffffff;
    /* Mobile First Defaults */
    min-height: auto;
    display: block;
    padding: 80px 15px;
}
@media (min-width: 768px) {
    .sp-page-builder .page-content #section-id-1565331468018 {
        min-height: calc(100vh - 85px);
        display: flex;
        align-items: center;
        padding: 80px 50px;
    }
}.sp-page-builder .page-content #section-id-1565331468018 > .sppb-row-overlay {mix-blend-mode:normal;}#column-id-1565331468017{border-radius:0px;}@media (min-width: 768px) { #column-wrap-id-1565331468017{max-width:50%;flex-basis:50%;} } @media (max-width: 767px) { #column-wrap-id-1565331468017{max-width:100%;flex-basis:100%;} }#column-id-1565331468017 .sppb-column-overlay{border-radius:0px;}#sppb-addon-1566298347905{box-shadow:0 0 0 0 #ffffff;}#sppb-addon-1566298347905{border-radius:0px;}#sppb-addon-wrapper-1566298347905 {
    margin: 0 0 30px 0;
    width: 100%;
}
@media (min-width: 768px) {
    #sppb-addon-wrapper-1566298347905 {
        margin-bottom: 60px;
        width: 100%;
    }
}
@media (min-width: 1200px) {
    #sppb-addon-wrapper-1566298347905 {
        width: 100%;
    }
}#sppb-addon-1566298347905 .sppb-addon-header .sppb-addon-title {
    font-size: 32px;
    letter-spacing: -0.5px;
    line-height: 1.3;
}
@media (min-width: 576px) {
    #sppb-addon-1566298347905 .sppb-addon-header .sppb-addon-title {
        font-size: 53px;
        letter-spacing: -1px;
    }
}#sppb-addon-1566298347905 .sppb-addon.sppb-addon-header{text-align:center;}#sppb-addon-1566298347905 .sppb-addon-header .sppb-addon-title{margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;color:#ffffff;}#sppb-addon-1566298662224 .sppb-btn {
    box-shadow: 0 0 0 0 #ffffff;
    background-color: #3f4094 !important;
    color: #ffffff !important;
    border: 2px solid #3f4094 !important;
    opacity: 1;
}
#sppb-addon-1566298662224 .sppb-btn:hover {
    background-color: transparent !important;
    color: #ffffff !important;
    border-color: #ffffff !important;
}
#sppb-addon-1566298662224 {
    border-radius: 0px;
}
#sppb-addon-wrapper-1566298662224 {
    margin: 0 0 10px 0;
    display: inline-block;
    width: 100%;
}
@media (min-width: 768px) {
    #sppb-addon-wrapper-1566298662224 {
        margin-bottom: 20px;
    }
}
#sppb-addon-1566298662224 #btn-1566298662224.sppb-btn-default {
    font-size: 16px;
    letter-spacing: 0px;
}
#sppb-addon-1566298662224 .sppb-btn i {
    margin: 0;
}
#sppb-addon-1566298662224 .sppb-button-wrapper {
    text-align: center;
}.sp-page-builder .page-content #section-id-1718181015775{box-shadow:0 0 0 0 #FFFFFF;}.sp-page-builder .page-content #section-id-1718181015775{padding-top:44px;padding-right:0px;padding-bottom:1px;padding-left:0px;margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;}#column-id-1718181015774{box-shadow:0 0 0 0 #FFFFFF;}#column-wrap-id-1718181015774{max-width:100%;flex-basis:100%;}#column-id-1718181015774 .sppb-column-overlay{border-radius:0px;}#sppb-addon-1566299103072{box-shadow:0 0 0 0 #ffffff;}#sppb-addon-1566299103072{border-radius:0px;}#sppb-addon-wrapper-1566299103072{margin-top:0px;margin-right:0px;margin-bottom:20px;margin-left:0px;}@media (min-width: 768px) {#sppb-addon-wrapper-1566299103072{margin-bottom:40px;}}#sppb-addon-1566299103072 .sppb-addon.sppb-addon-header{text-align:center;}@media (min-width: 576px) and (max-width: 1199px) {#sppb-addon-1566299103072 .sppb-addon.sppb-addon-header{text-align:left;}}#sppb-addon-1566299103072 .sppb-addon-header .sppb-addon-title{margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;}#sppb-addon-1566302374007{box-shadow:0 0 0 0 #ffffff;}#sppb-addon-1566302374007{border-radius:0px;}#sppb-addon-wrapper-1566302374007{margin-top:0px;margin-right:0px;margin-bottom:30px;margin-left:0px;}@media (min-width: 768px) {#sppb-addon-wrapper-1566302374007{margin-bottom:40px;}}#sppb-addon-1566302374007 .sppb-addon-text-block{text-align:center;}.sp-page-builder .page-content #section-id-1565331468206 {
    /* Mobile First */
    padding: 15px 0 27px 0;
    margin: 0;
}
@media (min-width: 768px) {
    .sp-page-builder .page-content #section-id-1565331468206 {
        padding: 0 0 49px 0;
    }
    #section-id-1565331468206 .sppb-row {
        display: flex;
        align-items: stretch;
    }
    #column-id-1565331468204, 
    #column-id-1565331468204 .sppb-column-addons,
    #sppb-addon-wrapper-1567410851223,
    #sppb-addon-1567410851223,
    #sppb-addon-1567410851223 .sppb-addon-single-image,
    #sppb-addon-1567410851223 .sppb-addon-content,
    #sppb-addon-1567410851223 .sppb-addon-single-image-container {
        height: 100%;
    }
    #sppb-addon-1567410851223 img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}#column-id-1565331468204{border-radius:0px;}#column-wrap-id-1565331468204 {
    /* Mobile First */
    max-width: 100%;
    flex-basis: 100%;
}
@media (min-width: 768px) {
    #column-wrap-id-1565331468204 {
        max-width: 50%;
        flex-basis: 50%;
    }
}
@media (min-width: 1200px) {
    #column-wrap-id-1565331468204 {
        max-width: 42.807%;
        flex-basis: 42.807%;
    }
}#column-id-1565331468204 .sppb-column-overlay{border-radius:0px;}#sppb-addon-1567410851223{box-shadow:0 0 0 0 #ffffff;}#sppb-addon-1567410851223{border-radius:0px;}#sppb-addon-wrapper-1567410851223{margin: 0 0 10px 0;} @media (min-width: 768px) { #sppb-addon-wrapper-1567410851223 { margin-bottom: 20px; } } @media (min-width: 1200px) { #sppb-addon-wrapper-1567410851223 { margin-right: -30px; margin-bottom: 0px; } }#sppb-addon-1567410851223 img{border-radius:0px;}#sppb-addon-1567410851223{text-align:center;}#column-id-1565331468205{padding: 20px;border-radius:0px;} @media (min-width: 768px) { #column-id-1565331468205 { padding: 30px; } }#column-wrap-id-1565331468205 {
    /* Mobile First */
    max-width: 100%;
    flex-basis: 100%;
    margin: 0;
}
@media (min-width: 768px) {
    #column-wrap-id-1565331468205 {
        max-width: 50%;
        flex-basis: 50%;
    }
}
@media (min-width: 1200px) {
    #column-wrap-id-1565331468205 {
        max-width: 57.193%;
        flex-basis: 57.193%;
        margin-left: -30px;
    }
}#column-id-1565331468205 .sppb-column-overlay{border-radius:0px;}#column-id-1565331468205{background-color:#ffffff;}#sppb-addon-1566302332831{box-shadow:0 0 0 0 #ffffff;}#sppb-addon-1566302332831{border-radius:0px;}#sppb-addon-wrapper-1566302332831{margin-top:0px;margin-right:0px;margin-bottom:10px;margin-left:0px;}#sppb-addon-1566302332831 .sppb-addon-header .sppb-addon-title{font-weight:400;letter-spacing:0px;}#sppb-addon-1566302332831 .sppb-addon.sppb-addon-header{text-align:left;}#sppb-addon-1566302332831 .sppb-addon-header .sppb-addon-title{margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;}#sppb-addon-1567409968168{border-radius:0px;}#sppb-addon-wrapper-1567409968168{margin: 0 0 10px 0;} @media (min-width: 768px) { #sppb-addon-wrapper-1567409968168 { margin-bottom: 20px; } } @media (min-width: 1200px) { #sppb-addon-wrapper-1567409968168 { margin-bottom: 0px; } }#sppb-addon-1567409968168 .sppb-addon-header .sppb-addon-title{font-size:20px;line-height:24px;letter-spacing:0px;}@media (min-width: 768px) {#sppb-addon-1567409968168 .sppb-addon-header .sppb-addon-title{font-size:28px;line-height:38px;}}#sppb-addon-1567409968168 .sppb-addon.sppb-addon-header{text-align:left;}#sppb-addon-1567409968168 .sppb-addon-header .sppb-addon-title{margin-top:0px;margin-right:0px;margin-bottom:30px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;color:#000000;}#sppb-addon-rMKy6Q8azhUaTeIx73YQb{box-shadow:0 0 0 0 #ffffff;}#sppb-addon-rMKy6Q8azhUaTeIx73YQb{border-radius:0px;}#sppb-addon-wrapper-rMKy6Q8azhUaTeIx73YQb{margin: 0 0 30px 0;} @media (min-width: 768px) { #sppb-addon-wrapper-rMKy6Q8azhUaTeIx73YQb { margin-bottom: 40px; } }#sppb-addon-1566302384552 .sppb-btn{box-shadow:0 0 0 0 #ffffff;}#sppb-addon-1566302384552{border-radius:0px;}#sppb-addon-1566302384552 #btn-1566302384552.sppb-btn-primary{font-size:16px;letter-spacing:0px;}#sppb-addon-1566302384552 #btn-1566302384552.sppb-btn-custom:hover{background-color: transparent; border-color: #3f4094;}#sppb-addon-1566302384552 .sppb-btn i{margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;}#sppb-addon-1566302384552 .sppb-button-wrapper{text-align:left;}.sp-page-builder .page-content #section-id-1565331468208{background-color:rgba(63, 64, 148, 0.12);box-shadow:0px 0px 0px 0px #fff;}.sp-page-builder .page-content #section-id-1565331468208{padding: 20px 0 0 0;}@media (min-width: 768px) {.sp-page-builder .page-content #section-id-1565331468208 { padding: 40px 0 1px 0; }}#column-id-1565331468207{border-radius:0px;}#column-wrap-id-1565331468207{max-width:100%;flex-basis:100%;}#column-id-1565331468207 .sppb-column-overlay{border-radius:0px;}#sppb-addon-1566302426785{box-shadow:0 0 0 0 #ffffff;}#sppb-addon-1566302426785{border-radius:0px;}#sppb-addon-wrapper-1566302426785{margin: 0 0 5px 0;} @media (min-width: 768px) { #sppb-addon-wrapper-1566302426785 { margin-bottom: 10px; } }#sppb-addon-1566302426785 .sppb-addon-header .sppb-addon-title{letter-spacing:1px;}#sppb-addon-1566302426785 .sppb-addon.sppb-addon-header{text-align:left;}#sppb-addon-1566302426785 .sppb-addon-header .sppb-addon-title{margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;}#sppb-addon-I_Tgcls8-q4xoiu89GVpT{box-shadow:0 0 0 0 #ffffff;}#sppb-addon-I_Tgcls8-q4xoiu89GVpT{border-radius:0px;}#sppb-addon-wrapper-I_Tgcls8-q4xoiu89GVpT{margin: 0 0 20px 0;} @media (min-width: 768px) { #sppb-addon-wrapper-I_Tgcls8-q4xoiu89GVpT { margin-bottom: 40px; } }#sppb-addon-I_Tgcls8-q4xoiu89GVpT .sppb-addon.sppb-addon-header{text-align:left;}#sppb-addon-I_Tgcls8-q4xoiu89GVpT .sppb-addon-header .sppb-addon-title{margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;}.sp-page-builder .page-content #section-id-1566556243730{background-color:rgba(63, 64, 148, 0.12);box-shadow:0px 0px 0px 0px #fff;}.sp-page-builder .page-content #section-id-1566556243730{padding: 0 0 10px 0;} @media (min-width: 768px) { .sp-page-builder .page-content #section-id-1566556243730 { padding-bottom: 50px; } }#column-id-1566556243729{border-radius:0px;}#column-wrap-id-1566556243729{max-width:100%;flex-basis:100%;}#column-id-1566556243729 .sppb-column-overlay{border-radius:0px;}#sppb-addon-1566554907516{box-shadow:0 0 0 0 #ffffff;}#sppb-addon-1566554907516{border-radius:0px;}#sppb-addon-wrapper-1566554907516{margin: 0 0 30px 0;} @media (min-width: 768px) { #sppb-addon-wrapper-1566554907516 { margin-bottom: 0px; } }.sp-page-builder .page-content #section-id-ze09qNqUOMeaQhboMoZHK{box-shadow:0px 0px 0px 0px #fff;}.sp-page-builder .page-content #section-id-ze09qNqUOMeaQhboMoZHK{padding-top:60px;padding-right:0px;padding-bottom:49px;padding-left:0px;margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;}@media (max-width:767.98px) {.sp-page-builder .page-content #section-id-ze09qNqUOMeaQhboMoZHK{padding-top:15px;padding-right:0px;padding-bottom:15px;padding-left:0px;}}@media (max-width:575.98px) {.sp-page-builder .page-content #section-id-ze09qNqUOMeaQhboMoZHK{padding-top:36px;padding-right:0px;padding-bottom:32px;padding-left:0px;}}#column-id-tPqps3VLVTQQJfKiB1FzP{padding-top:30px;padding-right:30px;padding-bottom:30px;padding-left:30px;border-radius:0px;}@media (max-width:767.98px) {#column-id-tPqps3VLVTQQJfKiB1FzP{padding-top:20px;padding-right:20px;padding-bottom:20px;padding-left:20px;}}@media (max-width:575.98px) {#column-id-tPqps3VLVTQQJfKiB1FzP{padding-top:20px;padding-right:20px;padding-bottom:20px;padding-left:20px;}}#column-wrap-id-tPqps3VLVTQQJfKiB1FzP, #column-wrap-id-WpfgHc6QR9OvTc3h1BPtw {
    margin: 0;
    display: flex;
    max-width: 100%;
    flex-basis: 100%;
}
@media (min-width: 768px) {
    #column-wrap-id-tPqps3VLVTQQJfKiB1FzP, #column-wrap-id-WpfgHc6QR9OvTc3h1BPtw {
        max-width: 50%;
        flex-basis: 50%;
    }
}
#section-id-ze09qNqUOMeaQhboMoZHK .sppb-row-container {
    padding: 0;
}
#section-id-ze09qNqUOMeaQhboMoZHK .sppb-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}
#section-id-ze09qNqUOMeaQhboMoZHK .sppb-row > div {
    padding: 0;
}
#column-id-tPqps3VLVTQQJfKiB1FzP {
    padding: 60px;
    background-color: #f8f9fa;
    height: 100%;
    width: 100%;
}
#column-id-WpfgHc6QR9OvTc3h1BPtw {
    border-radius: 0px;
    background-image: url(/images/family.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 400px;
    height: 100%;
    width: 100%;
}
@media (max-width: 767px) {
    #column-id-tPqps3VLVTQQJfKiB1FzP {
        padding: 40px 20px;
    }
    #column-id-WpfgHc6QR9OvTc3h1BPtw {
        min-height: 300px;
    }
}#sppb-addon-Y1jZ0Ks1ewzn93vGUK8U2{border-radius:0px;}#sppb-addon-wrapper-Y1jZ0Ks1ewzn93vGUK8U2 {
    margin: 0;
}
@media (min-width: 1200px) {
    #sppb-addon-wrapper-Y1jZ0Ks1ewzn93vGUK8U2 {
        margin-right: -30px;
    }
}#sppb-addon-Y1jZ0Ks1ewzn93vGUK8U2 img{border-radius:0px;}#sppb-addon-Y1jZ0Ks1ewzn93vGUK8U2{text-align:left;}@media (max-width:1199.98px) {#sppb-addon-Y1jZ0Ks1ewzn93vGUK8U2{text-align:center;}}.sp-page-builder .page-content #section-id-1566299103255{background-color:rgba(63, 64, 148, 0.12);box-shadow:0px 0px 0px 0px #fff;}.sp-page-builder .page-content #section-id-1566299103255{padding: 48px 0 50px 0;}#column-id-1566299103254{border-radius:0px;}#column-wrap-id-1566299103254{max-width:100%;flex-basis:100%;}.sp-page-builder .page-content #section-id-1566815332077{background-color:#ffffff;box-shadow:0px 0px 0px 0px #fff;}.sp-page-builder .page-content #section-id-1566815332077{padding: 40px;}#column-id-1566815332078{border-radius:0px;}#column-wrap-id-1566815332078 {
    max-width: 100%;
    flex-basis: 100%;
}
@media (max-width: 767px) {
    #sppb-addon-1566815431369 .sppb-addon.sppb-addon-header,
    #sppb-addon-1566815569901 .sppb-addon.sppb-addon-header,
    #sppb-addon-gmRDRG8Tjqy6I20ab3gRR .sppb-button-wrapper {
        text-align: center !important;
    }
}#sppb-addon-1566815431369{box-shadow:0 0 0 0 #ffffff;border-radius:0px;}#sppb-addon-wrapper-1566815431369{margin: 0 0 10px 0;}#sppb-addon-1566815431369 .sppb-addon-header .sppb-addon-title{font-weight:500;letter-spacing:1px;}#sppb-addon-1566815431369 .sppb-addon.sppb-addon-header{text-align:left;}#sppb-addon-1566815569901{border-radius:0px;}#sppb-addon-wrapper-1566815569901{margin: 0;width:100%;}#sppb-addon-1566815569901 .sppb-addon-header .sppb-addon-title{font-weight:700;font-size:28px;line-height:36px;}.sp-page-builder .page-content #section-id-1718261825954 {
    position: relative;
    overflow: hidden;
    background: none !important;
    box-shadow: 0px 0px 0px 0px #FFFFFF;
    padding: 120px 0;
}
.sp-page-builder .page-content #section-id-1718261825954::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(/images/hands.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    filter: blur(1px);
    transform: scale(1.05);
    z-index: 0;
}
@media (max-width: 575.98px) {
    .sp-page-builder .page-content #section-id-1718261825954 {
        padding: 80px 0;
    }
}
.sp-page-builder .page-content #section-id-1718261825954 > .sppb-row-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.sp-page-builder .page-content #section-id-1718261825954 > .sppb-row-container {
    position: relative;
    z-index: 2;
}#column-id-1718261825953{box-shadow:0 0 0 0 #FFFFFF;}#column-wrap-id-1718261825953{max-width:100%;flex-basis:100%;}#sppb-addon-ZIYv5Mmclvmpkn27R5wtz{color:#ffffff;border-radius:0px;}#sppb-addon-wrapper-ZIYv5Mmclvmpkn27R5wtz{margin: 0;}#sppb-addon-ZIYv5Mmclvmpkn27R5wtz .sppb-addon-header .sppb-addon-title{font-size:20px;line-height:24px;letter-spacing:0px;} @media (min-width: 768px) { #sppb-addon-ZIYv5Mmclvmpkn27R5wtz .sppb-addon-header .sppb-addon-title { font-size:28px; line-height:38px; } }#sppb-addon-ZIYv5Mmclvmpkn27R5wtz .sppb-addon.sppb-addon-header{text-align:center;}#sppb-addon-ZIYv5Mmclvmpkn27R5wtz .sppb-addon-header .sppb-addon-title{margin: 0 0 30px 0;padding: 0;color:#ffffff;}#sppb-addon-PyVJChCYsLt4ts4MTu67s{color:#ffffff;border-radius:0px;}#sppb-addon-wrapper-PyVJChCYsLt4ts4MTu67s{margin: 0 0 30px 0;} @media (min-width: 768px) { #sppb-addon-wrapper-PyVJChCYsLt4ts4MTu67s { margin-bottom: 40px; } }#sppb-addon-PyVJChCYsLt4ts4MTu67s .sppb-addon-text-block{text-align:center;}#sppb-addon-0koqBJ6hZHn3HobFGfX14 #btn-0koqBJ6hZHn3HobFGfX14.sppb-btn-default{font-size:16px;letter-spacing:0px;}#sppb-addon-0koqBJ6hZHn3HobFGfX14 .sppb-button-wrapper{text-align:center;}

/* Quick Loan Calculator Styles */
.loan-calculator-card {
    background: #ffffff;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    max-width: 450px;
    margin: 0 auto;
    color: #333;
}
@media (max-width: 767px) {
    .hero-calc-col {
        display: none;
    }
    .mobile-only {
        display: block !important;
    }
}
.mobile-only {
    display: none;
}
.hero-calc-col {
    position: relative;
    z-index: 10;
}
@media (min-width: 768px) {
    .hero-calc-col {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .hero-elements-column {
        text-align: center;
        padding-right: 30px;
    }
}
@media (max-width: 767px) {
    .hero-elements-column {
        text-align: center;
        margin-bottom: 40px;
    }
}
.hero-elements-column .sppb-addon-text-block {
    text-align: center;
}
.loan-calculator-card h3 {
    color: #3f4094;
    font-size: 24px;
    margin-bottom: 25px;
    font-weight: 700;
    text-align: center;
}
.calculator-input-group {
    margin-bottom: 25px;
}
.calculator-label-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.calculator-label-row label {
    font-weight: 600;
    font-size: 16px;
    margin: 0;
}
.calculator-value {
    color: #3f4094;
    font-weight: 700;
    font-size: 18px;
}
.loan-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background: #e0e0e0;
    outline: none;
    margin: 15px 0;
}
.loan-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #3f4094;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.loan-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #3f4094;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.calculator-results {
    background: #f8f9fa;
    border-radius: 8px;
    padding: 20px;
    margin-top: 25px;
}
.result-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.result-item:last-child {
    margin-bottom: 0;
    padding-top: 10px;
    border-top: 1px solid #dee2e6;
}
.result-label {
    color: #666;
    font-size: 14px;
}
.result-value {
    font-weight: 700;
    color: #333;
}
.result-value.total {
    color: #3f4094;
    font-size: 20px;
}
.calculator-btn {
    display: block;
    width: 100%;
    background: #3f4094;
    color: white;
    text-align: center;
    padding: 12px;
    border-radius: 6px;
    text-decoration: none;
    margin-top: 20px;
    font-weight: 600;
    transition: background 0.3s;
}
.calculator-btn:hover {
    background: #2e2f7a;
    color: white;
}
/* Mobile adjustments for hero columns */
@media (max-width: 767px) {
    .hero-elements-column {
        text-align: center;
        margin-bottom: 40px;
    }
    .loan-calculator-card {
        margin-top: 20px;
    }
}
</style>

<section id="sp-section-1">
<div class="row">
<div class="col-lg-12" id="sp-title"><div class="sp-column"></div></div>
</div>
</section>
<section id="sp-main-body">
<div class="row">
<main class="col-lg-12" id="sp-component">
<div class="sp-column">
<div aria-live="polite" id="system-message-container"></div>
<div class="sp-page-builder page-1" id="sp-page-builder" x-data="easystoreProductList">
<div class="page-content" x-data="easystoreProductDetails">
<div class="sppb-section hero-section sppb-section-content-center" id="section-id-1565331468018"><div class="sppb-container-inner"><div class="sppb-row sppb-align-center">
<div class="sppb-col-md-6" id="column-wrap-id-1565331468017"><div class="sppb-column hero-elements-column" id="column-id-1565331468017"><div class="sppb-column-addons"><div class="sppb-addon-wrapper addon-root-heading" id="sppb-addon-wrapper-1566298347905"><div class="clearfix sppb-wow fadeInDown" data-sppb-wow-duration="800ms" id="sppb-addon-1566298347905"><div class="sppb-addon sppb-addon-header"><h1 class="sppb-addon-title">Short-term loans from R500 to R8,000.</h1></div></div></div><div class="sppb-addon-wrapper" style="margin-bottom: 30px;"><div class="sppb-addon sppb-addon-text-block"><div class="sppb-addon-content" style="color: white; font-size: 1.25rem; font-weight: 400; line-height: 1.6;">Fast approval. Real people. No hidden fees.<br>Visit any of our 12 branches and get paid within 24 hours.</div></div></div><div class="sppb-addon-wrapper addon-root-button" id="sppb-addon-wrapper-1566298662224"><div class="clearfix sppb-wow fadeInUp" data-sppb-wow-delay="100ms" data-sppb-wow-duration="800ms" id="sppb-addon-1566298662224"><div class="sppb-button-wrapper"><a class="sppb-btn sppb-btn-primary sppb-btn-rounded" href="/contact" id="btn-1566298662224">Find a Branch</a></div></div></div></div></div></div>
<div class="sppb-col-md-6 hero-calc-col">
    <div class="loan-calculator-card">
        <h3>Quick Loan Calculator</h3>
        
        <div class="calculator-input-group">
            <div class="calculator-label-row">
                <label>I want to borrow</label>
                <span class="calculator-value" id="amount-val">R 2,000</span>
            </div>
            <input type="range" min="500" max="8000" step="100" value="2000" class="loan-slider" id="loan-amount">
            <div class="calculator-label-row" style="font-size: 12px; color: #999;">
                <span>R 500</span>
                <span>R 8,000</span>
            </div>
        </div>

        <div class="calculator-input-group">
            <div class="calculator-label-row">
                <label>Repayment Period</label>
                <span class="calculator-value" id="period-val">1 Month</span>
            </div>
            <input type="range" min="1" max="6" step="1" value="1" class="loan-slider" id="loan-period">
            <div class="calculator-label-row" style="font-size: 12px; color: #999;">
                <span>1 Month</span>
                <span>6 Months</span>
            </div>
        </div>

        <div class="calculator-results">
            <div class="result-item">
                <span class="result-label">Interest & Fees</span>
                <span class="result-value" id="fees-val">R 560.00</span>
            </div>
            <div class="result-item">
                <span class="result-label">Repayment Date</span>
                <span class="result-value" id="date-val">31 July 2024</span>
            </div>
            <div class="result-item">
                <span class="result-label" id="total-label">Total Monthly Repayment</span>
                <span class="result-value total" id="total-val">R 2,560.00</span>
            </div>
        </div>

        <a href="/apply-now" class="calculator-btn">Apply Now</a>
    </div>
</div>
</div></div></div>
<div class="mobile-only" style="padding: 40px 15px; background: #f9f9f9;">
    <div class="loan-calculator-card">
        <h3>Quick Loan Calculator</h3>
        
        <div class="calculator-input-group">
            <div class="calculator-label-row">
                <label>I want to borrow</label>
                <span class="calculator-value" id="amount-val-mob">R 2,000</span>
            </div>
            <input type="range" min="500" max="8000" step="100" value="2000" class="loan-slider" id="loan-amount-mob">
            <div class="calculator-label-row" style="font-size: 12px; color: #999;">
                <span>R 500</span>
                <span>R 8,000</span>
            </div>
        </div>

        <div class="calculator-input-group">
            <div class="calculator-label-row">
                <label>Repayment Period</label>
                <span class="calculator-value" id="period-val-mob">1 Month</span>
            </div>
            <input type="range" min="1" max="6" step="1" value="1" class="loan-slider" id="loan-period-mob">
            <div class="calculator-label-row" style="font-size: 12px; color: #999;">
                <span>1 Month</span>
                <span>6 Months</span>
            </div>
        </div>

        <div class="calculator-results">
            <div class="result-item">
                <span class="result-label">Interest & Fees</span>
                <span class="result-value" id="fees-val-mob">R 560.00</span>
            </div>
            <div class="result-item">
                <span class="result-label">Repayment Date</span>
                <span class="result-value" id="date-val-mob">31 July 2024</span>
            </div>
            <div class="result-item">
                <span class="result-label" id="total-label-mob">Total Monthly Repayment</span>
                <span class="result-value total" id="total-val-mob">R 2,560.00</span>
            </div>
        </div>

        <a href="/apply-now" class="calculator-btn">Apply Now</a>
    </div>
</div>
<section class="sppb-section" id="section-id-1718181015775"><div class="sppb-row-container"><div class="sppb-row"><div class="sppb-row-column" id="column-wrap-id-1718181015774"><div class="sppb-column" id="column-id-1718181015774"><div class="sppb-column-addons"><div class="sppb-addon-wrapper addon-root-heading" id="sppb-addon-wrapper-1566299103072"><div class="clearfix" id="sppb-addon-1566299103072"><div class="sppb-addon sppb-addon-header text-dark-color"><h3 class="sppb-addon-title">Welcome to <strong class="link-color">TTR Cash Loan</strong></h3></div></div></div><div class="sppb-addon-wrapper addon-root-text-block" id="sppb-addon-wrapper-1566302374007"><div class="clearfix" id="sppb-addon-1566302374007"><div class="sppb-addon sppb-addon-text-block"><div class="sppb-addon-content">
<p>Your reliable partner for quick and easy short-term loans. Whether you’re facing an unexpected expense or need extra cash to get through the month, TTR Cash Loan is here to help.</p>
<p>We offer responsible in-branch micro-loans from R500 to R8,000, with a simple application process and fast approvals. Our friendly consultants guide you every step of the way, ensuring you understand your loan, repayments, and total cost—no surprises, no hidden fees.</p>
</div></div></div></div></div></div></div></div></div></section><section class="sppb-section" id="section-id-1565331468206"><div class="sppb-row-container"><div class="sppb-row"><div class="sppb-col-md-4 sppb-col-sm-6" id="column-wrap-id-1565331468204"><div class="sppb-column" id="column-id-1565331468204"><div class="sppb-column-addons"><div class="sppb-addon-wrapper addon-root-image" id="sppb-addon-wrapper-1567410851223"><div class="clearfix" id="sppb-addon-1567410851223"><div class="sppb-addon sppb-addon-single-image sppb-addon-image-shape"><div class="sppb-addon-content"><div class="sppb-addon-single-image-container"><img alt="Image" class="sppb-img-responsive" height="458" src="/images/meeting.png" title="" width="500"/></div></div></div></div></div></div></div></div><div class="sppb-col-md-4 sppb-col-sm-12" id="column-wrap-id-1565331468205"><div class="sppb-column" id="column-id-1565331468205"><div class="sppb-column-addons"><div class="sppb-addon-wrapper addon-root-heading" id="sppb-addon-wrapper-1566302332831"><div class="clearfix" id="sppb-addon-1566302332831"><div class="sppb-addon sppb-addon-header dark-link-color"><h2 class="sppb-addon-title">Your Reliable Partner in Short-Term Finance</h2></div></div></div><div class="sppb-addon-wrapper addon-root-heading" id="sppb-addon-wrapper-1567409968168"><div class="clearfix" id="sppb-addon-1567409968168"><div class="sppb-addon sppb-addon-header link-color"><h3 class="sppb-addon-title">Why Choose <strong class="link-color">TTR Cash Loan</strong></h3></div></div></div><div class="sppb-addon-wrapper addon-root-text-block" id="sppb-addon-wrapper-rMKy6Q8azhUaTeIx73YQb"><div class="clearfix" id="sppb-addon-rMKy6Q8azhUaTeIx73YQb"><div class="sppb-addon sppb-addon-text-block"><div class="sppb-addon-content">
<ul><li><p><strong>Fast Approval</strong> – Apply in-branch and get a decision in minutes.</p></li><li><p><strong>Flexible Amounts</strong> – Borrow from R500 to R8,000 based on your affordability.</p></li><li><p><strong>Simple Repayment</strong> – Clear 1-month repayment terms.</p></li><li><p><strong>Transparent Pricing</strong> – No hidden costs, ever.</p></li><li><p><strong>Quick Payouts</strong> – Receive your funds within 24 hours of approval.</p></li><li><p><strong>Local Support</strong> – Visit any of our 12 branches across South Africa.</p></li></ul>
</div></div></div></div><div class="sppb-addon-wrapper addon-root-button" id="sppb-addon-wrapper-1566302384552"><div class="clearfix" id="sppb-addon-1566302384552"><div class="sppb-button-wrapper"><a class="sppb-btn sppb-btn-primary sppb-btn-rounded sppb-btn-outline" href="/about" id="btn-1566302384552">About Us</a></div></div></div></div></div></div></div></div></section><section class="sppb-section" id="section-id-1565331468208"><div class="sppb-row-container"><div class="sppb-row"><div class="sppb-col-md-12" id="column-wrap-id-1565331468207"><div class="sppb-column" id="column-id-1565331468207"><div class="sppb-column-addons"><div class="sppb-addon-wrapper addon-root-heading" id="sppb-addon-wrapper-1566302426785"><div class="clearfix" id="sppb-addon-1566302426785"><div class="sppb-addon sppb-addon-header text-dark-color"><h2 class="sppb-addon-title">Our Expertise</h2></div></div></div><div class="sppb-addon-wrapper addon-root-heading" id="sppb-addon-wrapper-I_Tgcls8-q4xoiu89GVpT"><div class="clearfix" id="sppb-addon-I_Tgcls8-q4xoiu89GVpT"><div class="sppb-addon sppb-addon-header text-dark-color"><h3 class="sppb-addon-title">Fast, Responsible Loans – In-Branch</h3><h4 class="sppb-addon-title">How It Works (Visit Our Branch)</h4></div></div></div></div></div></div></div></div></section><div class="sppb-section" id="section-id-1566556243730"><div class="sppb-container-inner"><div class="sppb-row"><div class="sppb-col-md-12" id="column-wrap-id-1566556243729"><div class="sppb-column" id="column-id-1566556243729"><div class="sppb-column-addons"><div class="sppb-addon-wrapper addon-root-finatic-services" id="sppb-addon-wrapper-1566554907516"><div class="clearfix" id="sppb-addon-1566554907516"><div class="finatic-services gird-layout"><div class="owl-carousel" id="finatic-services-carousel">
<div class="item"><img src="https://images.unsplash.com/photo-1556761175-b413da4baf72?w=500&h=400&fit=crop" alt="Office Visit"/><div class="item-info"><h3>1. Visit Our Office</h3><ul class="finatic-service-items"><li><i class="far fa-building"></i><p>Walk into any of our 12 branches and speak with a friendly consultant.</p></li><li><i class="far fa-hand-holding-usd"></i><p>Loans from R500 to R8,000.</p></li></ul></div></div>
<div class="item"><img src="https://images.unsplash.com/photo-1554224154-26032ffc0d07?w=500&h=400&fit=crop" alt="Documents"/><div class="item-info"><h3>2. Bring Your Documents</h3><ul class="finatic-service-items"><li><i class="far fa-id-card"></i><p>South African ID & Proof of income</p></li><li><i class="far fa-file-alt"></i><p>Bank statements & Proof of address</p></li></ul></div></div>
<div class="item"><img src="https://images.unsplash.com/photo-1450101499163-c8848c66ca85?w=500&h=400&fit=crop" alt="Verification"/><div class="item-info"><h3>3. Quick Verification</h3><ul class="finatic-service-items"><li><i class="far fa-clipboard"></i><p>Credit checks & Information review</p></li><li><i class="far fa-check-circle"></i><p>Affordability assessment</p></li></ul></div></div>
<div class="item"><img src="https://images.unsplash.com/photo-1560472355-536de3962603?w=500&h=400&fit=crop" alt="Approval"/><div class="item-info"><h3>4. Same-Day Decision</h3><ul class="finatic-service-items"><li><i class="far fa-check-circle"></i><p>Approval in-branch & DebiCheck mandate</p></li><li><i class="far fa-calendar-alt"></i><p>Clear repayment schedule</p></li></ul></div></div>
<div class="item"><img src="https://images.unsplash.com/photo-1579621970563-ebec7560ff3e?w=500&h=400&fit=crop" alt="Funds Transfer"/><div class="item-info"><h3>5. Receive Your Funds</h3><ul class="finatic-service-items"><li><i class="far fa-university"></i><p>Funds deposited into your bank account</p></li><li><i class="far fa-clock"></i><p>Usually within 24 hours</p></li></ul></div></div>
</div></div></div></div></div></div></div></div></div></div><section class="sppb-section" id="section-id-ze09qNqUOMeaQhboMoZHK"><div class="sppb-row-container"><div class="sppb-row no-gutters-custom"><div class="sppb-col-md-6 sppb-col-sm-12" id="column-wrap-id-tPqps3VLVTQQJfKiB1FzP"><div class="sppb-column" id="column-id-tPqps3VLVTQQJfKiB1FzP"><div class="sppb-column-addons"><div class="sppb-addon-wrapper addon-root-heading" id="sppb-addon-wrapper-bAxUZ4CtGFCB7efOp-li2"><div class="clearfix" id="sppb-addon-bAxUZ4CtGFCB7efOp-li2"><div class="sppb-addon sppb-addon-header dark-link-color"><h2 class="sppb-addon-title">Financial Help When You Need It Most</h2></div></div></div><div class="sppb-addon-wrapper addon-root-heading" id="sppb-addon-wrapper-JeOwBXoXafH3PKAYvz6qM"><div class="clearfix" id="sppb-addon-JeOwBXoXafH3PKAYvz6qM"><div class="sppb-addon sppb-addon-header link-color"><h3 class="sppb-addon-title">Real Support for <strong class="link-color">Life's Challenges</strong></h3></div></div></div><div class="sppb-addon-wrapper addon-root-text-block" id="sppb-addon-wrapper-XB1uCPjuZ2pEaddwMzpNt"><div class="clearfix" id="sppb-addon-XB1uCPjuZ2pEaddwMzpNt"><div class="sppb-addon sppb-addon-text-block"><div class="sppb-addon-content">
<p>Life doesn’t always go according to plan. A short-term loan can help you stay in control when finances become tight.</p>
<ul><li><p><strong>Urgent Expenses</strong> – Medical bills, car repairs, school fees, or emergency home maintenance.</p></li><li><p><strong>Between Paydays</strong> – Cover everyday costs when your income and expenses don’t line up.</p></li><li><p><strong>Important Moments</strong> – Birthdays, funerals, weddings, or family events that matter.</p></li></ul>
<p>Our in-branch personal loans are built to give South Africans fast, responsible support when it matters most—clear terms, no hidden fees, and real people ready to help.</p>
</div></div></div></div><div class="sppb-addon-wrapper addon-root-button" id="sppb-addon-wrapper-1566815687582"><div class="clearfix" id="sppb-addon-1566815687582"><div class="sppb-button-wrapper"><a class="sppb-btn sppb-btn-primary sppb-btn-rounded sppb-btn-outline" href="/contact" id="btn-1566815687582">Contact Us</a></div></div></div></div></div></div><div class="sppb-col-md-6 sppb-col-sm-12" id="column-wrap-id-WpfgHc6QR9OvTc3h1BPtw"><div class="sppb-column" id="column-id-WpfgHc6QR9OvTc3h1BPtw"></div></div></div></div></section><section class="sppb-section" id="section-id-1566299103255"><div class="sppb-row-container"><div class="sppb-row"><div class="sppb-col-md-12" id="column-wrap-id-1566299103254"><div class="sppb-column" id="column-id-1566299103254"><div class="sppb-column-addons"><div class="sppb-section" id="section-id-1566815332077"><div class="sppb-container-inner"><div class="sppb-row sppb-nested-row">                        <div class="sppb-col-md-12" id="column-wrap-id-1566815332078"><div class="sppb-column" id="column-id-1566815332078"><div class="sppb-column-addons"><div class="sppb-addon-wrapper addon-root-heading" id="sppb-addon-wrapper-1566815431369"><div class="clearfix" id="sppb-addon-1566815431369"><div class="sppb-addon sppb-addon-header text-dark-color"><h2 class="sppb-addon-title">Quick and Easy Short-Term Loans</h2></div></div></div><div class="sppb-addon-wrapper addon-root-heading" id="sppb-addon-wrapper-1566815569901"><div class="clearfix" id="sppb-addon-1566815569901"><div class="sppb-addon sppb-addon-header text-dark-color"><h4 class="sppb-addon-title">We are dedicated to providing fast and simple access to <strong class="link-color">short-term loans</strong></h4></div></div></div><div class="sppb-addon-wrapper addon-root-button" id="sppb-addon-wrapper-gmRDRG8Tjqy6I20ab3gRR"><div class="clearfix" id="sppb-addon-gmRDRG8Tjqy6I20ab3gRR"><div class="sppb-button-wrapper"><a class="sppb-btn sppb-btn-primary sppb-btn-rounded sppb-btn-outline" href="/f-a-q" id="btn-gmRDRG8Tjqy6I20ab3gRR">View FAQ</a></div></div></div></div></div></div></div></div></div></div></div></div></div></div></section><section class="sppb-section" id="section-id-1718261825954"><div class="sppb-row-overlay"></div><div class="sppb-row-container"><div class="sppb-row"><div class="sppb-row-column" id="column-wrap-id-1718261825953"><div class="sppb-column" id="column-id-1718261825953"><div class="sppb-column-addons">
<div class="sppb-addon-wrapper addon-root-heading" id="sppb-addon-wrapper-ZIYv5Mmclvmpkn27R5wtz"><div class="clearfix" id="sppb-addon-ZIYv5Mmclvmpkn27R5wtz"><div class="sppb-addon sppb-addon-header link-color"><h3 class="sppb-addon-title">You don’t have to navigate your financial journey alone.</h3></div></div></div><div class="sppb-addon-wrapper addon-root-text-block" id="sppb-addon-wrapper-PyVJChCYsLt4ts4MTu67s"><div class="clearfix" id="sppb-addon-PyVJChCYsLt4ts4MTu67s"><div class="sppb-addon sppb-addon-text-block"><div class="sppb-addon-content"><p>Count on us to support you when you need it most.</p></div></div></div></div><div class="sppb-addon-wrapper addon-root-button" id="sppb-addon-wrapper-0koqBJ6hZHn3HobFGfX14"><div class="clearfix" id="sppb-addon-0koqBJ6hZHn3HobFGfX14"><div class="sppb-button-wrapper"><a class="sppb-btn sppb-btn-default sppb-btn-rounded sppb-btn-outline" href="/contact" id="btn-0koqBJ6hZHn3HobFGfX14">Contact Us</a></div></div></div></div></div></div></div></div></section>
</div>
</div>
</div>
</main>
</div>
</section>

<script slot="scripts" is:inline>
jQuery(document).ready(function ($) {
var cssClass = "";
var clipPathUrl = "svg-shape-1567410851223";
var shapeEnabled = "0";

$(document).on("click", "#sppb-addon-1567410851223 .sppb-image-lightbox", function (event) {
event.preventDefault();
var $this = $(this);
function applyStyles(img){
var figure = $(".mfp-figure");
var height = img[0].naturalHeight;
if(shapeEnabled == 1){
figure.attr("has-shape", "");
img.css("max-height", height);
img.css("padding", 0);
if(cssClass) img.addClass(cssClass);
if (clipPathUrl) img.css("clip-path", "url(#" + clipPathUrl + ")");
}
}
if ($.magnificPopup.instance) $.magnificPopup.close();
if ($this.magnificPopup) {
$this.magnificPopup({
type: $this.data("popup_type"),
mainClass: $this.data("mainclass"),
callbacks: {
imageLoadComplete: function () {
var img = this.currItem.img;
applyStyles(img);
}
}
}).magnificPopup("open");
}
});

            $("#sppb-addon-1566554907516 #finatic-services-carousel").owlCarousel({
                margin: 30,
                loop: true,
                video:true,
                autoplay: true,
dots: false,
nav: true,
                autoplaySpeed: 800,
navText: ["<i class=\"fa fa-angle-left\"></i>", "<i class=\"fa fa-angle-right\"></i>"],
                responsive: {
0: { items: 1 },
                    768: { items: 2 },
999: { items: 3 },
1800: { items: 4 }
                },
onInitialized: function() {
$(".owl-item.active").last().addClass("last-owl-active-item");
},
onTranslated: function() {
$(event.target).find(".last-owl-active-item").removeClass("last-owl-active-item");
$(event.target).find(".active").last().addClass("last-owl-active-item");
}
            });

            // Loan Calculator Logic
            function initCalc(amountId, periodId, amountValId, periodValId, feesValId, dateValId, totalValId, totalLabelId) {
                const amountSlider = document.getElementById(amountId);
                const periodSlider = document.getElementById(periodId);
                const amountVal = document.getElementById(amountValId);
                const periodVal = document.getElementById(periodValId);
                const feesVal = document.getElementById(feesValId);
                const dateVal = document.getElementById(dateValId);
                const totalVal = document.getElementById(totalValId);
                const totalLabel = document.getElementById(totalLabelId);

                if (amountSlider && periodSlider) {
                    const updateCalculator = () => {
                        const amount = parseInt(amountSlider.value);
                        const months = parseInt(periodSlider.value);

                        amountVal.innerText = `R ${amount.toLocaleString()}`;
                        periodVal.innerText = `${months} ${months === 1 ? 'Month' : 'Months'}`;

                        const interestRate = 0.05;
                        const initiationFee = Math.min(165 + (Math.max(0, amount - 1000) * 0.1), 1050);
                        const serviceFee = 60 * months;
                        const totalInterest = amount * interestRate * months;
                        const totalFees = initiationFee + serviceFee + totalInterest;
                        
                        feesVal.innerText = `R ${totalFees.toFixed(2)}`;
                        
                        const totalRepayment = (amount + totalFees);
                        if (months > 1) {
                            totalLabel.innerText = "Monthly Repayment";
                            totalVal.innerText = `R ${(totalRepayment / months).toFixed(2)}`;
                        } else {
                            totalLabel.innerText = "Total Repayment";
                            totalVal.innerText = `R ${totalRepayment.toFixed(2)}`;
                        }

                        const date = new Date();
                        date.setMonth(date.getMonth() + months);
                        dateVal.innerText = date.toLocaleDateString('en-ZA', { day: 'numeric', month: 'long', year: 'numeric' });
                    };

                    amountSlider.addEventListener('input', updateCalculator);
                    periodSlider.addEventListener('input', updateCalculator);
                    updateCalculator();
                }
            }

            // Init both calculators (Desktop in hero, Mobile after hero)
            initCalc('loan-amount', 'loan-period', 'amount-val', 'period-val', 'fees-val', 'date-val', 'total-val', 'total-label');
            initCalc('loan-amount-mob', 'loan-period-mob', 'amount-val-mob', 'period-val-mob', 'fees-val-mob', 'date-val-mob', 'total-val-mob', 'total-label-mob');
        });
</script>
</MainLayout>




