---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Quick and Easy Short-Term Loans in South Africa - TTR Cash Loan">
    <style is:inline>
        @media(min-width: 1400px) {.sppb-row-container { max-width: 1140px; }}
        .sp-page-builder .page-content #section-id-1566555113995{box-shadow:0px 0px 0px 0px #fff;}
        .sp-page-builder .page-content #section-id-1566555113995{padding-top:54px;padding-right:0px;padding-bottom:28px;padding-left:0px;margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;}
        @media (max-width:767.98px) {.sp-page-builder .page-content #section-id-1566555113995{padding-top:40px;padding-right:0px;padding-bottom:30px;padding-left:0px;}}
        @media (max-width:575.98px) {.sp-page-builder .page-content #section-id-1566555113995{padding-top:40px;padding-right:0px;padding-bottom:30px;padding-left:0px;}}
        #column-id-1566555113994{border-radius:0px;}#column-wrap-id-1566555113994{max-width:100%;flex-basis:100%;}
        @media (max-width:1199.98px) {#column-wrap-id-1566555113994{max-width:100%;flex-basis:100%;}}
        @media (max-width:991.98px) {#column-wrap-id-1566555113994{max-width:100%;flex-basis:100%;}}
        @media (max-width:767.98px) {#column-wrap-id-1566555113994{max-width:100%;flex-basis:100%;}}
        @media (max-width:575.98px) {#column-wrap-id-1566555113994{max-width:100%;flex-basis:100%;}}
        #column-id-1566555113994 .sppb-column-overlay{border-radius:0px;}#sppb-addon-1567001396156{box-shadow:0 0 0 0 #ffffff;}#sppb-addon-1567001396156{border-radius:0px;}#sppb-addon-1567001396156 img{border-radius:0px;}#sppb-addon-1567001396156{text-align:center;}.sp-page-builder .page-content #section-id-1567001397567{background-color:#ffffff;}.sp-page-builder .page-content #section-id-1567001397567{padding-top:35px;padding-right:35px;padding-bottom:9px;padding-left:35px;margin-top:-70px;margin-right:25px;margin-bottom:40px;margin-left:25px;}
        @media (max-width:767.98px) {.sp-page-builder .page-content #section-id-1567001397567{padding-top:20px;padding-right:20px;padding-bottom:20px;padding-left:20px;margin-top:-50px;margin-right:15px;margin-bottom:25px;margin-left:15px;}}
        @media (max-width:575.98px) {.sp-page-builder .page-content #section-id-1567001397567{padding-top:20px;padding-right:20px;padding-bottom:20px;padding-left:20px;margin-top:-50px;margin-right:15px;margin-bottom:25px;margin-left:15px;}}
        #column-id-1567001397568{border-radius:0px;}#column-wrap-id-1567001397568{max-width:100%;flex-basis:100%;}@media (max-width:1199.98px) {#column-wrap-id-1567001397568{max-width:100%;flex-basis:100%;}}@media (max-width:991.98px) {#column-wrap-id-1567001397568{max-width:100%;flex-basis:100%;}}@media (max-width:767.98px) {#column-wrap-id-1567001397568{max-width:100%;flex-basis:100%;}}@media (max-width:575.98px) {#column-wrap-id-1567001397568{max-width:100%;flex-basis:100%;}}#column-id-1567001397568 .sppb-column-overlay{border-radius:0px;}#sppb-addon-1567002137739{box-shadow:0 0 0 0 #ffffff;}#sppb-addon-1567002137739{border-radius:0px;}#sppb-addon-wrapper-1567002137739{margin-top:0px;margin-right:0px;margin-bottom:10px;margin-left:0px;}@media (max-width:1199.98px) {#sppb-addon-wrapper-1567002137739{margin-top:0px;margin-right:0px;margin-bottom:20px;margin-left:0px;}}@media (max-width:991.98px) {#sppb-addon-wrapper-1567002137739{margin-top:0px;margin-right:0px;margin-bottom:20px;margin-left:0px;}}@media (max-width:767.98px) {#sppb-addon-wrapper-1567002137739{margin-top:0px;margin-right:0px;margin-bottom:10px;margin-left:0px;}}@media (max-width:575.98px) {#sppb-addon-wrapper-1567002137739{margin-top:0px;margin-right:0px;margin-bottom:10px;margin-left:0px;}}#sppb-addon-1567002137739 .sppb-addon-header .sppb-addon-title{letter-spacing:1px;}#sppb-addon-1567002137739 .sppb-addon.sppb-addon-header{text-align:left;}#sppb-addon-1567002137739 .sppb-addon-header .sppb-addon-title{margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;}#sppb-addon-1567002140654{box-shadow:0 0 0 0 #ffffff;}#sppb-addon-1567002140654{border-radius:0px;}#sppb-addon-wrapper-1567002140654{margin-top:0px;margin-right:0px;margin-bottom:30px;margin-left:0px;}@media (max-width:1199.98px) {#sppb-addon-wrapper-1567002140654{margin-top:0px;margin-right:0px;margin-bottom:20px;margin-left:0px;}}@media (max-width:991.98px) {#sppb-addon-wrapper-1567002140654{margin-top:0px;margin-right:0px;margin-bottom:20px;margin-left:0px;}}@media (max-width:767.98px) {#sppb-addon-wrapper-1567002140654{margin-top:0px;margin-right:0px;margin-bottom:10px;margin-left:0px;}}@media (max-width:575.98px) {#sppb-addon-wrapper-1567002140654{margin-top:0px;margin-right:0px;margin-bottom:10px;margin-left:0px;}}#sppb-addon-1567002140654 .sppb-addon-header .sppb-addon-title{font-size:28px;line-height:45px;}@media (max-width:1199.98px) {#sppb-addon-1567002140654 .sppb-addon-header .sppb-addon-title{font-size:25px;line-height:35px;}}@media (max-width:991.98px) {#sppb-addon-1567002140654 .sppb-addon-header .sppb-addon-title{font-size:25px;line-height:35px;}}@media (max-width:767.98px) {#sppb-addon-1567002140654 .sppb-addon-header .sppb-addon-title{font-size:20px;line-height:26px;}}@media (max-width:575.98px) {#sppb-addon-1567002140654 .sppb-addon-header .sppb-addon-title{font-size:20px;line-height:26px;}}#sppb-addon-1567002140654 .sppb-addon.sppb-addon-header{text-align:left;}#sppb-addon-1567002140654 .sppb-addon-header .sppb-addon-title{margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;}#column-id-1567001397635{border-radius:0px;}#column-wrap-id-1567001397635{max-width:50%;flex-basis:50%;}@media (max-width:1199.98px) {#column-wrap-id-1567001397635{max-width:50%;flex-basis:50%;}}@media (max-width:991.98px) {#column-wrap-id-1567001397635{max-width:50%;flex-basis:50%;}}@media (max-width:767.98px) {#column-wrap-id-1567001397635{max-width:100%;flex-basis:100%;}}@media (max-width:575.98px) {#column-wrap-id-1567001397635{max-width:100%;flex-basis:100%;}}#column-id-1567001397635 .sppb-column-overlay{border-radius:0px;}#sppb-addon-1567001397706{box-shadow:0 0 0 0 #ffffff;}#sppb-addon-1567001397706{border-radius:0px;}#sppb-addon-wrapper-1567001397706{margin-top:0px;margin-right:0px;margin-bottom:30px;margin-left:0px;}@media (max-width:1199.98px) {#sppb-addon-wrapper-1567001397706{margin-top:0px;margin-right:0px;margin-bottom:20px;margin-left:0px;}}@media (max-width:991.98px) {#sppb-addon-wrapper-1567001397706{margin-top:0px;margin-right:0px;margin-bottom:20px;margin-left:0px;}}@media (max-width:767.98px) {#sppb-addon-wrapper-1567001397706{margin-top:0px;margin-right:0px;margin-bottom:10px;margin-left:0px;}}@media (max-width:575.98px) {#sppb-addon-wrapper-1567001397706{margin-top:0px;margin-right:0px;margin-bottom:10px;margin-left:0px;}}#sppb-addon-1567001397706 .sppb-addon-text-block .sppb-addon-content{font-size:14px;line-height:24px;}@media (max-width:767.98px) {#sppb-addon-1567001397706 .sppb-addon-text-block .sppb-addon-content{font-size:13px;line-height:22px;}}@media (max-width:575.98px) {#sppb-addon-1567001397706 .sppb-addon-text-block .sppb-addon-content{font-size:13px;line-height:22px;}}#column-id-1567001397636{border-radius:0px;}#column-wrap-id-1567001397636{max-width:50%;flex-basis:50%;}@media (max-width:1199.98px) {#column-wrap-id-1567001397636{max-width:50%;flex-basis:50%;}}@media (max-width:991.98px) {#column-wrap-id-1567001397636{max-width:50%;flex-basis:50%;}}@media (max-width:767.98px) {#column-wrap-id-1567001397636{max-width:100%;flex-basis:100%;}}@media (max-width:575.98px) {#column-wrap-id-1567001397636{max-width:100%;flex-basis:100%;}}#column-id-1567001397636 .sppb-column-overlay{border-radius:0px;}#sppb-addon-1567002198199{box-shadow:0 0 0 0 #ffffff;}#sppb-addon-1567002198199{border-radius:0px;}#sppb-addon-wrapper-1567002198199{margin-top:0px;margin-right:0px;margin-bottom:30px;margin-left:0px;}@media (max-width:1199.98px) {#sppb-addon-wrapper-1567002198199{margin-top:0px;margin-right:0px;margin-bottom:20px;margin-left:0px;}}@media (max-width:991.98px) {#sppb-addon-wrapper-1567002198199{margin-top:0px;margin-right:0px;margin-bottom:20px;margin-left:0px;}}@media (max-width:767.98px) {#sppb-addon-wrapper-1567002198199{margin-top:0px;margin-right:0px;margin-bottom:10px;margin-left:0px;}}@media (max-width:575.98px) {#sppb-addon-wrapper-1567002198199{margin-top:0px;margin-right:0px;margin-bottom:10px;margin-left:0px;}}#sppb-addon-1567002198199 .sppb-addon-text-block .sppb-addon-content{font-size:14px;line-height:24px;}@media (max-width:767.98px) {#sppb-addon-1567002198199 .sppb-addon-text-block .sppb-addon-content{font-size:13px;line-height:22px;}}@media (max-width:575.98px) {#sppb-addon-1567002198199 .sppb-addon-text-block .sppb-addon-content{font-size:13px;line-height:22px;}}.sp-page-builder .page-content #section-id-vPxRstEUU5JjzPhNdEiAa{box-shadow:0 0 0 0 #FFFFFF;}.sp-page-builder .page-content #section-id-vPxRstEUU5JjzPhNdEiAa{padding-top:5px;padding-right:0px;padding-bottom:5px;padding-left:0px;margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;}#column-id-o4BXwkyx6HhQ7RhhHvOsP{box-shadow:0 0 0 0 #FFFFFF;}#column-wrap-id-o4BXwkyx6HhQ7RhhHvOsP{max-width:100%;flex-basis:100%;}@media (max-width:1199.98px) {#column-wrap-id-o4BXwkyx6HhQ7RhhHvOsP{max-width:100%;flex-basis:100%;}}@media (max-width:991.98px) {#column-wrap-id-o4BXwkyx6HhQ7RhhHvOsP{max-width:100%;flex-basis:100%;}}@media (max-width:767.98px) {#column-wrap-id-o4BXwkyx6HhQ7RhhHvOsP{max-width:100%;flex-basis:100%;}}@media (max-width:575.98px) {#column-wrap-id-o4BXwkyx6HhQ7RhhHvOsP{max-width:100%;flex-basis:100%;}}#sppb-addon-1567058493280{box-shadow:0 0 0 0 #ffffff;}#sppb-addon-1567058493280{border-radius:0px;}#sppb-addon-wrapper-1567058493280{margin-top:0px;margin-right:0px;margin-bottom:30px;margin-left:0px;}@media (max-width:1199.98px) {#sppb-addon-wrapper-1567058493280{margin-top:0px;margin-right:0px;margin-bottom:20px;margin-left:0px;}}@media (max-width:991.98px) {#sppb-addon-wrapper-1567058493280{margin-top:0px;margin-right:0px;margin-bottom:20px;margin-left:0px;}}@media (max-width:767.98px) {#sppb-addon-wrapper-1567058493280{margin-top:0px;margin-right:0px;margin-bottom:10px;margin-left:0px;}}@media (max-width:575.98px) {#sppb-addon-wrapper-1567058493280{margin-top:0px;margin-right:0px;margin-bottom:10px;margin-left:0px;}}#sppb-addon-1567058493280 .sppb-addon-header .sppb-addon-title{font-weight:400;font-size:21px;line-height:30px;letter-spacing:0px;}@media (max-width:767.98px) {#sppb-addon-1567058493280 .sppb-addon-header .sppb-addon-title{font-size:17px;line-height:24px;}}@media (max-width:575.98px) {#sppb-addon-1567058493280 .sppb-addon-header .sppb-addon-title{font-size:17px;line-height:24px;}}#sppb-addon-1567058493280 .sppb-addon.sppb-addon-header{text-align:left;}#sppb-addon-1567058493280 .sppb-addon-header .sppb-addon-title{margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;}#sppb-addon-wrapper-1567001395{margin-top:0px;margin-right:0px;margin-bottom:30px;margin-left:0px;}#sppb-addon-1567058493282{box-shadow:0 0 0 0 #ffffff;}#sppb-addon-1567058493282{border-radius:0px;}@media (max-width:767.98px) {#sppb-addon-wrapper-1567058493282{margin-top:0px;margin-right:0px;margin-bottom:10px;margin-left:0px;}}@media (max-width:575.98px) {#sppb-addon-wrapper-1567058493282{margin-top:0px;margin-right:0px;margin-bottom:10px;margin-left:0px;}}.sp-page-builder .page-content #section-id-wP8dNfgOQprARUm2vIUR4{box-shadow:0 0 0 0 #FFFFFF;}.sp-page-builder .page-content #section-id-wP8dNfgOQprARUm2vIUR4{padding-top:5px;padding-right:0px;padding-bottom:5px;padding-left:0px;margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;}#column-id-xtgynFnkIXSJ86SphmLLI{box-shadow:0 0 0 0 #FFFFFF;}#column-wrap-id-xtgynFnkIXSJ86SphmLLI{max-width:100%;flex-basis:100%;}@media (max-width:1199.98px) {#column-wrap-id-xtgynFnkIXSJ86SphmLLI{max-width:100%;flex-basis:100%;}}@media (max-width:991.98px) {#column-wrap-id-xtgynFnkIXSJ86SphmLLI{max-width:100%;flex-basis:100%;}}@media (max-width:767.98px) {#column-wrap-id-xtgynFnkIXSJ86SphmLLI{max-width:100%;flex-basis:100%;}}@media (max-width:575.98px) {#column-wrap-id-xtgynFnkIXSJ86SphmLLI{max-width:100%;flex-basis:100%;}}#sppb-addon-q78zaODGy2_ZKmsmPLixe{box-shadow:0 0 0 0 #ffffff;}#sppb-addon-q78zaODGy2_ZKmsmPLixe{border-radius:0px;}#sppb-addon-wrapper-q78zaODGy2_ZKmsmPLixe{margin-top:0px;margin-right:0px;margin-bottom:30px;margin-left:0px;}@media (max-width:1199.98px) {#sppb-addon-wrapper-q78zaODGy2_ZKmsmPLixe{margin-top:0px;margin-right:0px;margin-bottom:20px;margin-left:0px;}}@media (max-width:991.98px) {#sppb-addon-wrapper-q78zaODGy2_ZKmsmPLixe{margin-top:0px;margin-right:0px;margin-bottom:20px;margin-left:0px;}}@media (max-width:767.98px) {#sppb-addon-wrapper-q78zaODGy2_ZKmsmPLixe{margin-top:0px;margin-right:0px;margin-bottom:10px;margin-left:0px;}}@media (max-width:575.98px) {#sppb-addon-wrapper-q78zaODGy2_ZKmsmPLixe{margin-top:0px;margin-right:0px;margin-bottom:10px;margin-left:0px;}}#sppb-addon-q78zaODGy2_ZKmsmPLixe .sppb-addon-header .sppb-addon-title{font-weight:400;font-size:21px;line-height:30px;letter-spacing:0px;}@media (max-width:767.98px) {#sppb-addon-q78zaODGy2_ZKmsmPLixe .sppb-addon-header .sppb-addon-title{font-size:17px;line-height:24px;}}@media (max-width:575.98px) {#sppb-addon-q78zaODGy2_ZKmsmPLixe .sppb-addon-header .sppb-addon-title{font-size:17px;line-height:24px;}}#sppb-addon-q78zaODGy2_ZKmsmPLixe .sppb-addon.sppb-addon-header{text-align:left;}#sppb-addon-q78zaODGy2_ZKmsmPLixe .sppb-addon-header .sppb-addon-title{margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;}#sppb-addon-wrapper-E4sX0uoAqQdOHSxm5xC1j{margin-top:0px;margin-right:0px;margin-bottom:30px;margin-left:0px;}#sppb-addon-3FTLuBYJa2_PjABtJgvFP{box-shadow:0 0 0 0 #ffffff;}#sppb-addon-3FTLuBYJa2_PjABtJgvFP{border-radius:0px;}@media (max-width:767.98px) {#sppb-addon-wrapper-3FTLuBYJa2_PjABtJgvFP{margin-top:0px;margin-right:0px;margin-bottom:10px;margin-left:0px;}}@media (max-width:575.98px) {#sppb-addon-wrapper-3FTLuBYJa2_PjABtJgvFP{margin-top:0px;margin-right:0px;margin-bottom:10px;margin-left:0px;}}.sp-page-builder .page-content #section-id-VSpzF97WX5ZUx7mxtZ5rn{box-shadow:0 0 0 0 #FFFFFF;}.sp-page-builder .page-content #section-id-VSpzF97WX5ZUx7mxtZ5rn{padding-top:5px;padding-right:0px;padding-bottom:5px;padding-left:0px;margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;}#column-id-p_IOT0bHdF8SEMgKauzoH{box-shadow:0 0 0 0 #FFFFFF;}#column-wrap-id-p_IOT0bHdF8SEMgKauzoH{max-width:100%;flex-basis:100%;}@media (max-width:1199.98px) {#column-wrap-id-p_IOT0bHdF8SEMgKauzoH{max-width:100%;flex-basis:100%;}}@media (max-width:991.98px) {#column-wrap-id-p_IOT0bHdF8SEMgKauzoH{max-width:100%;flex-basis:100%;}}@media (max-width:767.98px) {#column-wrap-id-p_IOT0bHdF8SEMgKauzoH{max-width:100%;flex-basis:100%;}}@media (max-width:575.98px) {#column-wrap-id-p_IOT0bHdF8SEMgKauzoH{max-width:100%;flex-basis:100%;}}#sppb-addon-m_wG4Jv6eQm8KHNuqCiSe{box-shadow:0 0 0 0 #ffffff;}#sppb-addon-m_wG4Jv6eQm8KHNuqCiSe{border-radius:0px;}#sppb-addon-wrapper-m_wG4Jv6eQm8KHNuqCiSe{margin-top:0px;margin-right:0px;margin-bottom:30px;margin-left:0px;}@media (max-width:1199.98px) {#sppb-addon-wrapper-m_wG4Jv6eQm8KHNuqCiSe{margin-top:0px;margin-right:0px;margin-bottom:20px;margin-left:0px;}}@media (max-width:991.98px) {#sppb-addon-wrapper-m_wG4Jv6eQm8KHNuqCiSe{margin-top:0px;margin-right:0px;margin-bottom:20px;margin-left:0px;}}@media (max-width:767.98px) {#sppb-addon-wrapper-m_wG4Jv6eQm8KHNuqCiSe{margin-top:0px;margin-right:0px;margin-bottom:10px;margin-left:0px;}}@media (max-width:575.98px) {#sppb-addon-wrapper-m_wG4Jv6eQm8KHNuqCiSe{margin-top:0px;margin-right:0px;margin-bottom:10px;margin-left:0px;}}#sppb-addon-m_wG4Jv6eQm8KHNuqCiSe .sppb-addon-header .sppb-addon-title{font-weight:400;font-size:21px;line-height:30px;letter-spacing:0px;}@media (max-width:767.98px) {#sppb-addon-m_wG4Jv6eQm8KHNuqCiSe .sppb-addon-header .sppb-addon-title{font-size:17px;line-height:24px;}}@media (max-width:575.98px) {#sppb-addon-m_wG4Jv6eQm8KHNuqCiSe .sppb-addon-header .sppb-addon-title{font-size:17px;line-height:24px;}}#sppb-addon-m_wG4Jv6eQm8KHNuqCiSe .sppb-addon.sppb-addon-header{text-align:left;}#sppb-addon-m_wG4Jv6eQm8KHNuqCiSe .sppb-addon-header .sppb-addon-title{margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;}#sppb-addon-wrapper-abIbN2NOogR054S8AHS7L{margin-top:0px;margin-right:0px;margin-bottom:30px;margin-left:0px;}#sppb-addon-ji5CR0K811crwdr84kW1-{box-shadow:0 0 0 0 #ffffff;}#sppb-addon-ji5CR0K811crwdr84kW1-{border-radius:0px;}@media (max-width:767.98px) {#sppb-addon-wrapper-ji5CR0K811crwdr84kW1-{margin-top:0px;margin-right:0px;margin-bottom:10px;margin-left:0px;}}@media (max-width:575.98px) {#sppb-addon-wrapper-ji5CR0K811crwdr84kW1-{margin-top:0px;margin-right:0px;margin-bottom:10px;margin-left:0px;}}#sppb-addon-AQSrld0usCsyHHEg0ygbh{box-shadow:0 0 0 0 #ffffff;}#sppb-addon-AQSrld0usCsyHHEg0ygbh{border-radius:0px;}#sppb-addon-wrapper-AQSrld0usCsyHHEg0ygbh{margin-top:0px;margin-right:25px;margin-bottom:40px;margin-left:25px;}@media (max-width:767.98px) {#sppb-addon-wrapper-AQSrld0usCsyHHEg0ygbh{margin-top:0px;margin-right:15px;margin-bottom:15px;margin-left:15px;}}@media (max-width:575.98px) {#sppb-addon-wrapper-AQSrld0usCsyHHEg0ygbh{margin-top:0px;margin-right:15px;margin-bottom:15px;margin-left:15px;}}#sppb-addon-AQSrld0usCsyHHEg0ygbh{color:#333333;}#sppb-addon-AQSrld0usCsyHHEg0ygbh .sppb-tab-icon{font-size:16px;}.sp-page-builder .page-content #section-id-1567061622089{background-color:#ffffff;}.sp-page-builder .page-content #section-id-1567061622089{padding-top:20px;padding-right:20px;padding-bottom:0px;padding-left:20px;margin-top:0px;margin-right:25px;margin-bottom:25px;margin-left:25px;}@media (max-width:767.98px) {.sp-page-builder .page-content #section-id-1567061622089{padding-top:20px;padding-right:20px;padding-bottom:20px;padding-left:20px;margin-top:15px;margin-right:15px;margin-bottom:30px;margin-left:15px;}}@media (max-width:575.98px) {.sp-page-builder .page-content #section-id-1567061622089{padding-top:20px;padding-right:20px;padding-bottom:20px;padding-left:20px;margin-top:15px;margin-right:15px;margin-bottom:30px;margin-left:15px;}}#column-id-1567061622090{border-radius:0px;}#column-wrap-id-1567061622090{max-width:41.666666666667%;flex-basis:41.666666666667%;}@media (max-width:1199.98px) {#column-wrap-id-1567061622090{max-width:41.666666666667%;flex-basis:41.666666666667%;}}@media (max-width:991.98px) {#column-wrap-id-1567061622090{max-width:100%;flex-basis:100%;}}@media (max-width:767.98px) {#column-wrap-id-1567061622090{max-width:100%;flex-basis:100%;}}@media (max-width:575.98px) {#column-wrap-id-1567061622090{max-width:100%;flex-basis:100%;}}#column-id-1567061622090 .sppb-column-overlay{border-radius:0px;}#sppb-addon-1567061728170{box-shadow:0 0 0 0 #ffffff;}#sppb-addon-1567061728170{border-radius:0px;}@media (max-width:1199.98px) {#sppb-addon-wrapper-1567061728170{margin-top:0px;margin-right:0px;margin-bottom:20px;margin-left:0px;}}@media (max-width:991.98px) {#sppb-addon-wrapper-1567061728170{margin-top:0px;margin-right:0px;margin-bottom:20px;margin-left:0px;}}@media (max-width:767.98px) {#sppb-addon-wrapper-1567061728170{margin-top:0px;margin-right:0px;margin-bottom:10px;margin-left:0px;}}@media (max-width:575.98px) {#sppb-addon-wrapper-1567061728170{margin-top:0px;margin-right:0px;margin-bottom:10px;margin-left:0px;}}#sppb-addon-1567061728170 img{border-radius:0px;}#sppb-addon-1567061728170{text-align:left;}#column-id-1567061622167{border-radius:0px;}#column-wrap-id-1567061622167{max-width:58.333333333333%;flex-basis:58.333333333333%;}@media (max-width:1199.98px) {#column-wrap-id-1567061622167{max-width:58.333333333333%;flex-basis:58.333333333333%;}}@media (max-width:991.98px) {#column-wrap-id-1567061622167{max-width:100%;flex-basis:100%;}}@media (max-width:767.98px) {#column-wrap-id-1567061622167{max-width:100%;flex-basis:100%;}}@media (max-width:575.98px) {#column-wrap-id-1567061622167{max-width:100%;flex-basis:100%;}}#column-id-1567061622167 .sppb-column-overlay{border-radius:0px;}#sppb-addon-1567061851248{box-shadow:0 0 0 0 #ffffff;}#sppb-addon-1567061851248{border-radius:0px;}#sppb-addon-wrapper-1567061851248{margin-top:10px;margin-right:0px;margin-bottom:20px;margin-left:0px;}@media (max-width:1199.98px) {#sppb-addon-wrapper-1567061851248{margin-top:0px;margin-right:0px;margin-bottom:20px;margin-left:0px;}}@media (max-width:991.98px) {#sppb-addon-wrapper-1567061851248{margin-top:0px;margin-right:0px;margin-bottom:20px;margin-left:0px;}}@media (max-width:767.98px) {#sppb-addon-wrapper-1567061851248{margin-top:0px;margin-right:0px;margin-bottom:10px;margin-left:0px;}}@media (max-width:575.98px) {#sppb-addon-wrapper-1567061851248{margin-top:0px;margin-right:0px;margin-bottom:10px;margin-left:0px;}}#sppb-addon-1567061851248 .sppb-addon-header .sppb-addon-title{font-weight:400;font-size:21px;line-height:30px;letter-spacing:0px;}#sppb-addon-1567061851248 .sppb-addon.sppb-addon-header{text-align:left;}#sppb-addon-1567061851248 .sppb-addon-header .sppb-addon-title{margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;}#sppb-addon-1567061923014{box-shadow:0 0 0 0 #ffffff;}#sppb-addon-1567061923014{border-radius:0px;}#sppb-addon-wrapper-1567061923014{margin-top:0px;margin-right:0px;margin-bottom:30px;margin-left:0px;}@media (max-width:1199.98px) {#sppb-addon-wrapper-1567061923014{margin-top:0px;margin-right:0px;margin-bottom:20px;margin-left:0px;}}@media (max-width:991.98px) {#sppb-addon-wrapper-1567061923014{margin-top:0px;margin-right:0px;margin-bottom:20px;margin-left:0px;}}@media (max-width:767.98px) {#sppb-addon-wrapper-1567061923014{margin-top:0px;margin-right:0px;margin-bottom:10px;margin-left:0px;}}@media (max-width:575.98px) {#sppb-addon-wrapper-1567061923014{margin-top:0px;margin-right:0px;margin-bottom:10px;margin-left:0px;}}#sppb-addon-1567061923014 .sppb-addon-text-block .sppb-addon-content{font-size:14px;line-height:24px;}@media (max-width:767.98px) {#sppb-addon-1567061923014 .sppb-addon-text-block .sppb-addon-content{font-size:13px;line-height:21px;}}@media (max-width:575.98px) {#sppb-addon-1567061923014 .sppb-addon-text-block .sppb-addon-content{font-size:13px;line-height:21px;}}#sppb-addon-1567061966949 .sppb-btn{box-shadow:0 0 0 0 #ffffff;}#sppb-addon-1567061966949{border-radius:0px;}#sppb-addon-wrapper-1567061966949{margin-top:0px;margin-right:0px;margin-bottom:30px;margin-left:0px;}@media (max-width:1199.98px) {#sppb-addon-wrapper-1567061966949{margin-top:0px;margin-right:0px;margin-bottom:20px;margin-left:0px;}}@media (max-width:991.98px) {#sppb-addon-wrapper-1567061966949{margin-top:0px;margin-right:0px;margin-bottom:20px;margin-left:0px;}}@media (max-width:767.98px) {#sppb-addon-wrapper-1567061966949{margin-top:0px;margin-right:0px;margin-bottom:10px;margin-left:0px;}}@media (max-width:575.98px) {#sppb-addon-wrapper-1567061966949{margin-top:0px;margin-right:0px;margin-bottom:10px;margin-left:0px;}}#sppb-addon-1567061966949 #btn-1567061966949.sppb-btn-primary{font-size:16px;letter-spacing:0px;}#sppb-addon-1567061966949 #btn-1567061966949.sppb-btn-custom:hover{background-color: transparent; border-color: #3f4094;}#sppb-addon-1567061966949 .sppb-btn i{margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;}#sppb-addon-1567061966949 .sppb-button-wrapper{text-align:left;}#column-id-1567001396145{border-radius:0px;}#column-wrap-id-1567001396145{max-width:33.333333333333%;flex-basis:33.333333333333%;}@media (max-width:1199.98px) {#column-wrap-id-1567001396145{max-width:33.333333333333%;flex-basis:33.333333333333%;}}@media (max-width:991.98px) {#column-wrap-id-1567001396145{max-width:100%;flex-basis:100%;}}@media (max-width:767.98px) {#column-wrap-id-1567001396145{max-width:100%;flex-basis:100%;}}@media (max-width:575.98px) {#column-wrap-id-1567001396145{max-width:100%;flex-basis:100%;}}#column-id-1567001396145 .sppb-column-overlay{border-radius:0px;}.sp-page-builder .page-content #section-id-1567001396160{background-image:url(/images/2019/08/26/service-cta-bg2x.png);background-repeat:no-repeat;background-size:cover;background-position:50% 50%;box-shadow:0px 0px 0px 0px #fff;}.sp-page-builder .page-content #section-id-1567001396160{padding-top:21px;padding-right:35px;padding-bottom:21px;padding-left:35px;margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;color:#ffffff;}@media (max-width:1199.98px) {.sp-page-builder .page-content #section-id-1567001396160{padding-top:20px;padding-right:20px;padding-bottom:20px;padding-left:20px;}}@media (max-width:991.98px) {.sp-page-builder .page-content #section-id-1567001396160{padding-top:20px;padding-right:20px;padding-bottom:20px;padding-left:20px;}}@media (max-width:767.98px) {.sp-page-builder .page-content #section-id-1567001396160{padding-top:20px;padding-right:20px;padding-bottom:20px;padding-left:20px;margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;}}@media (max-width:575.98px) {.sp-page-builder .page-content #section-id-1567001396160{padding-top:20px;padding-right:20px;padding-bottom:20px;padding-left:20px;margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;}}.sp-page-builder .page-content #section-id-1567001396160 > .sppb-row-overlay {mix-blend-mode:normal;}#column-id-1567001396190{border-radius:0px;}#column-wrap-id-1567001396190{max-width:100%;flex-basis:100%;}@media (max-width:1199.98px) {#column-wrap-id-1567001396190{max-width:100%;flex-basis:100%;}}@media (max-width:991.98px) {#column-wrap-id-1567001396190{max-width:100%;flex-basis:100%;}}@media (max-width:767.98px) {#column-wrap-id-1567001396190{max-width:100%;flex-basis:100%;}}@media (max-width:575.98px) {#column-wrap-id-1567001396190{max-width:100%;flex-basis:100%;}}#column-id-1567001396190 .sppb-column-overlay{border-radius:0px;}#sppb-addon-wrapper-1718352790986{margin-top:30px;margin-right:0px;margin-bottom:30px;margin-left:0px;}@media (max-width:575.98px) {#sppb-addon-wrapper-1718352790986{margin-top:30px;margin-right:0px;margin-bottom:20px;margin-left:0px;}}#sppb-addon-1718352790986 img{border-radius:0px;}#sppb-addon-wrapper-1718352986125{margin-top:0px;margin-right:0px;margin-bottom:30px;margin-left:0px;}#sppb-addon-1718352986125 #btn-1718352986125.sppb-btn-custom{background-color:#ffffff;color:#3f4094;}#sppb-addon-1718352986125 #btn-1718352986125.sppb-btn-custom:hover{background-color:#ffffff;color:rgb(63, 64, 148);}#sppb-addon-1718352986125 .sppb-btn i{margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;}#sppb-addon-1718352986125 .sppb-button-wrapper{text-align:left;}#sppb-addon-1718353442283{box-shadow:0 0 0 0 #FFFFFF;}#sppb-addon-1718353442283 .sppb-addon-text-block .sppb-addon-content{font-weight:700;font-size:30px;line-height:40px;}
        .sp-page-builder .page-content .sppb-addon-header { text-align: center !important; }
        .sp-page-builder .page-content .sppb-addon-text-block { text-align: center !important; }
        .sppb-nav-modern { justify-content: center !important; }
        .sppb-button-wrapper { text-align: center !important; }
        .sppb-addon-single-image-container { text-align: center !important; }
        [id^="column-wrap-id-"] { max-width: 100% !important; flex-basis: 100% !important; }
        .sp-page-title-heading, .sp-page-title-sub-heading { text-align: center !important; }
        .sppb-addon-raw-html { text-align: left !important; }
        .tab-features-list { display: block; text-align: left; padding: 0 !important; margin: 25px 0 0 0 !important; list-style: none !important; width: 100%; }
        .tab-features-list li { margin-bottom: 15px !important; display: flex !important; align-items: flex-start !important; text-align: left !important; justify-content: flex-start !important; }
        .tab-features-list li i { margin-right: 15px !important; color: #3f4094 !important; font-size: 1.2em !important; padding-top: 3px !important; }
        .sppb-tab-pane .sppb-addon-text-block .sppb-addon-content,
        .sppb-tab-pane .sppb-addon-text-block,
        .sppb-tab-pane .sppb-addon-header, 
        .sppb-tab-pane .sppb-addon-header .sppb-addon-title { text-align: left !important; }
        .sppb-tab-pane .sppb-addon-wrapper { margin-left: 0 !important; margin-right: 0 !important; text-align: left !important; }
        .sppb-tab-pane .sppb-row { justify-content: flex-start !important; }
        .sppb-tab-pane .sppb-column-addons { text-align: left !important; }
        .sppb-tab-pane .sppb-container-inner { padding-left: 0 !important; }
    </style>

    <section id="sp-section-1">
        <div class="row">
            <div class="col-lg-12" id="sp-title">
                <div class="sp-column">
                    <div class="sp-page-title">
                        <div class="container">
                            <h2 class="sp-page-title-heading">Our Comprehensive Loan Services</h2>
                            <h3 class="sp-page-title-sub-heading">Fast, reliable, and transparent short-term loan solutions designed to meet your immediate financial needs—right here in South Africa.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="sp-main-body">
        <div class="row">
            <main class="col-lg-12" id="sp-component">
                <div class="sp-column">
                    <div aria-live="polite" id="system-message-container"></div>
                    <div class="sp-page-builder page-11" id="sp-page-builder">
                        <div class="page-content">
                            <section class="sppb-section sppb-section-content-center" id="section-id-1566555113995">
                                <div class="sppb-row-container">
                                    <div class="sppb-row sppb-align-center">
                                        <div class="sppb-col-md-12" id="column-wrap-id-1566555113994">
                                            <div class="sppb-column" id="column-id-1566555113994">
                                                <div class="sppb-column-addons">
                                                    <div class="sppb-addon-wrapper addon-root-image" id="sppb-addon-wrapper-1567001396156">
                                                        <div class="clearfix" id="sppb-addon-1567001396156">
                                                            <div class="sppb-addon sppb-addon-single-image sppb-addon-image-shape">
                                                                <div class="sppb-addon-content">
                                                                    <div class="sppb-addon-single-image-container">
                                                                        <img alt="Image" class="sppb-img-responsive" height="456" src="/images/couple.png" title="" width="729"/>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="sppb-section wrapper-shadow" id="section-id-1567001397567">
                                                        <div class="sppb-container-inner">
                                                            <div class="sppb-row sppb-nested-row">
                                                                <div class="sppb-col-md-12" id="column-wrap-id-1567001397568">
                                                                    <div class="sppb-column" id="column-id-1567001397568">
                                                                        <div class="sppb-column-addons">
                                                                            <div class="sppb-addon-wrapper addon-root-heading" id="sppb-addon-wrapper-1567002137739">
                                                                                <div class="clearfix" id="sppb-addon-1567002137739">
                                                                                    <div class="sppb-addon sppb-addon-header text-dark-color">
                                                                                        <h2 class="sppb-addon-title">Tailored Solutions for Your Immediate Financial Needs</h2>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="sppb-addon-wrapper addon-root-heading" id="sppb-addon-wrapper-1567002140654">
                                                                                <div class="clearfix" id="sppb-addon-1567002140654">
                                                                                    <div class="sppb-addon sppb-addon-header text-dark-color">
                                                                                        <h4 class="sppb-addon-title">Your Trusted Source for Quick and Reliable <strong class="link-color">Short-Term Loans </strong></h4>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="sppb-col-md-12 sppb-col-sm-12" id="column-wrap-id-1567001397635">
                                                                    <div class="sppb-column" id="column-id-1567001397635">
                                                                        <div class="sppb-column-addons">
                                                                            <div class="sppb-addon-wrapper addon-root-text-block" id="sppb-addon-wrapper-1567001397706">
                                                                                <div class="clearfix" id="sppb-addon-1567001397706">
                                                                                    <div class="sppb-addon sppb-addon-text-block">
                                                                                        <div class="sppb-addon-content">
                                                                                            <p>At TTR Cash Loan, we specialise in providing responsible, in-branch micro-loans designed to help you manage life’s unexpected expenses with confidence. With a strong focus on transparency, affordability, and personal service, we make borrowing simple, clear, and stress-free.</p>
                                                                                            <p>Our consultants guide you through every step—explaining your loan, your repayment schedule, and the total cost upfront. No fine print. No surprises. Just honest lending you can trust.</p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="sppb-addon-wrapper addon-root-tab" id="sppb-addon-wrapper-AQSrld0usCsyHHEg0ygbh">
                                                        <div class="clearfix" id="sppb-addon-AQSrld0usCsyHHEg0ygbh">
                                                            <div class="sppb-addon sppb-addon-tab">
                                                                <div class="sppb-addon-content sppb-tab sppb-modern-tab sppb-tab-nav-position">
                                                                    <ul class="sppb-nav sppb-nav-modern" role="tablist">
                                                                        <li class="active" role="presentation"><a aria-controls="sppb-tab-AQSrld0usCsyHHEg0ygbh0" aria-selected="true" class="" data-toggle="sppb-tab" href="#sppb-tab-AQSrld0usCsyHHEg0ygbh0" id="sppb-content-AQSrld0usCsyHHEg0ygbh0" role="tab"> Our Loan Products </a></li>
                                                                        <li class="" role="presentation"><a aria-controls="sppb-tab-AQSrld0usCsyHHEg0ygbh1" aria-selected="false" class="" data-toggle="sppb-tab" href="#sppb-tab-AQSrld0usCsyHHEg0ygbh1" id="sppb-content-AQSrld0usCsyHHEg0ygbh1" role="tab"> Why Choose Us? </a></li>
                                                                        <li class="" role="presentation"><a aria-controls="sppb-tab-AQSrld0usCsyHHEg0ygbh2" aria-selected="false" class="" data-toggle="sppb-tab" href="#sppb-tab-AQSrld0usCsyHHEg0ygbh2" id="sppb-content-AQSrld0usCsyHHEg0ygbh2" role="tab"> How It Works </a></li>
                                                                    </ul>
                                                                    <div class="sppb-tab-content sppb-tab-modern-content">
                                                                        <div aria-labelledby="sppb-content-AQSrld0usCsyHHEg0ygbh0" class="sppb-tab-pane sppb-fade active in" id="sppb-tab-AQSrld0usCsyHHEg0ygbh0" role="tabpanel">
                                                                            <div class="sppb-section" id="section-id-vPxRstEUU5JjzPhNdEiAa">
                                                                                <div class="sppb-container-inner">
                                                                                    <div class="sppb-row sppb-nested-row">
                                                                                        <div class="sppb-row-column" id="column-wrap-id-o4BXwkyx6HhQ7RhhHvOsP">
                                                                                            <div class="sppb-column" id="column-id-o4BXwkyx6HhQ7RhhHvOsP">
                                                                                                <div class="sppb-column-addons">
                                                                                                    <div class="sppb-addon-wrapper addon-root-heading" id="sppb-addon-wrapper-1567058493280">
                                                                                                        <div class="clearfix" id="sppb-addon-1567058493280">
                                                                                                            <div class="sppb-addon sppb-addon-header text-dark-color">
                                                                                                                <h3 class="sppb-addon-title">Flexible Micro-Loans for Your <strong class="link-color">Financial Peace of Mind</strong></h3>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="sppb-addon-wrapper addon-root-text-block" id="sppb-addon-wrapper-1567001395">
                                                                                                        <div class="clearfix" id="sppb-addon-1567001395">
                                                                                                            <div class="sppb-addon sppb-addon-text-block">
                                                                                                                <div class="sppb-addon-content">
                                                                                                                    <p>We provide affordable short-term loans tailored to your specific situation. Whether you need to cover a medical bill, fix a car, or bridge a gap until payday, we offer micro-loans ranging from R500 to R8,000.</p>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="sppb-addon-wrapper addon-root-raw-html" id="sppb-addon-wrapper-1567058493282">
                                                                                                        <div class="clearfix" id="sppb-addon-1567058493282">
                                                                                                            <div class="sppb-addon sppb-addon-raw-html">
                                                                                                                <div class="sppb-addon-content">
                                                                                                                    <ul class="tab-features-list">
                                                                                                                        <li><i class="fas fa-check-circle"></i> <div><strong>Loan Amounts:</strong> From R500 up to R8,000.</div></li>
                                                                                                                        <li><i class="fas fa-check-circle"></i> <div><strong>Repayment Term:</strong> Convenient 1-month repayment plan.</div></li>
                                                                                                                        <li><i class="fas fa-check-circle"></i> <div><strong>Personalised Assessment:</strong> We look beyond just a credit score to understand your actual affordability.</div></li>
                                                                                                                    </ul>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div aria-labelledby="sppb-content-AQSrld0usCsyHHEg0ygbh1" class="sppb-tab-pane sppb-fade" id="sppb-tab-AQSrld0usCsyHHEg0ygbh1" role="tabpanel">
                                                                            <div class="sppb-section" id="section-id-wP8dNfgOQprARUm2vIUR4">
                                                                                <div class="sppb-container-inner">
                                                                                    <div class="sppb-row sppb-nested-row border-top-0 border-bottom-0">
                                                                                        <div class="sppb-row-column" id="column-wrap-id-xtgynFnkIXSJ86SphmLLI">
                                                                                            <div class="sppb-column" id="column-id-xtgynFnkIXSJ86SphmLLI">
                                                                                                <div class="sppb-column-addons">
                                                                                                    <div class="sppb-addon-wrapper addon-root-heading" id="sppb-addon-wrapper-q78zaODGy2_ZKmsmPLixe">
                                                                                                        <div class="clearfix" id="sppb-addon-q78zaODGy2_ZKmsmPLixe">
                                                                                                            <div class="sppb-addon sppb-addon-header text-dark-color">
                                                                                                                <h3 class="sppb-addon-title">Why Choose <strong class="link-color">TTR Cash Loan?</strong></h3>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="sppb-addon-wrapper addon-root-text-block" id="sppb-addon-wrapper-E4sX0uoAqQdOHSxm5xC1j">
                                                                                                        <div class="clearfix" id="sppb-addon-E4sX0uoAqQdOHSxm5xC1j">
                                                                                                            <div class="sppb-addon sppb-addon-text-block">
                                                                                                                <div class="sppb-addon-content">
                                                                                                                    With so many lenders available, we differentiate ourselves through our commitment to your financial well-being and exceptional service.
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="sppb-addon-wrapper addon-root-raw-html" id="sppb-addon-wrapper-3FTLuBYJa2_PjABtJgvFP">
                                                                                                        <div class="clearfix" id="sppb-addon-3FTLuBYJa2_PjABtJgvFP">
                                                                                                            <div class="sppb-addon sppb-addon-raw-html">
                                                                                                                <div class="sppb-addon-content">
                                                                                                                    <ul class="tab-features-list">
                                                                                                                        <li><i class="fas fa-check-circle"></i> <div><strong>Speed:</strong> Payouts within 24 hours of approval.</div></li>
                                                                                                                        <li><i class="fas fa-check-circle"></i> <div><strong>Convenience:</strong> 12 physical branches across South Africa for easy access and face-to-face support.</div></li>
                                                                                                                        <li><i class="fas fa-check-circle"></i> <div><strong>Compliance:</strong> We are a registered Credit Provider, strictly following NCR guidelines.</div></li>
                                                                                                                        <li><i class="fas fa-check-circle"></i> <div><strong>Fixed Pricing:</strong> No hidden costs. You will know exactly what you owe from day one.</div></li>
                                                                                                                    </ul>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div aria-labelledby="sppb-content-AQSrld0usCsyHHEg0ygbh2" class="sppb-tab-pane sppb-fade" id="sppb-tab-AQSrld0usCsyHHEg0ygbh2" role="tabpanel">
                                                                            <div class="sppb-section" id="section-id-VSpzF97WX5ZUx7mxtZ5rn">
                                                                                <div class="sppb-container-inner">
                                                                                    <div class="sppb-row sppb-nested-row">
                                                                                        <div class="sppb-row-column" id="column-wrap-id-p_IOT0bHdF8SEMgKauzoH">
                                                                                            <div class="sppb-column" id="column-id-p_IOT0bHdF8SEMgKauzoH">
                                                                                                <div class="sppb-column-addons">
                                                                                                    <div class="sppb-addon-wrapper addon-root-heading" id="sppb-addon-wrapper-m_wG4Jv6eQm8KHNuqCiSe">
                                                                                                        <div class="clearfix" id="sppb-addon-m_wG4Jv6eQm8KHNuqCiSe">
                                                                                                            <div class="sppb-addon sppb-addon-header text-dark-color">
                                                                                                                <h3 class="sppb-addon-title">Your Simple Path to <strong class="link-color">Fast Landing</strong></h3>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="sppb-addon-wrapper addon-root-text-block" id="sppb-addon-wrapper-abIbN2NOogR054S8AHS7L">
                                                                                                        <div class="clearfix" id="sppb-addon-abIbN2NOogR054S8AHS7L">
                                                                                                            <div class="sppb-addon sppb-addon-text-block">
                                                                                                                <div class="sppb-addon-content">
                                                                                                                    We believe in keeping things straightforward. Our process is designed to get you the cash you need without the unnecessary paperwork.
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="sppb-addon-wrapper addon-root-raw-html" id="sppb-addon-wrapper-ji5CR0K811crwdr84kW1-">
                                                                                                        <div class="clearfix" id="sppb-addon-ji5CR0K811crwdr84kW1-">
                                                                                                            <div class="sppb-addon sppb-addon-raw-html">
                                                                                                                <div class="sppb-addon-content">
                                                                                                                    <ul class="tab-features-list">
                                                                                                                        <li><i class="fas fa-check-circle"></i> <div>1. <strong>Visit a Branch:</strong> Bring your documents (ID, 3 months bank statements, latest payslip) to any of our 12 branches.</div></li>
                                                                                                                        <li><i class="fas fa-check-circle"></i> <div>2. <strong>Consultation:</strong> Speak with a friendly consultant who will assess your affordability and explain the loan terms.</div></li>
                                                                                                                        <li><i class="fas fa-check-circle"></i> <div>3. <strong>Instant Feedback:</strong> We’ll let you know if your application is successful on the spot.</div></li>
                                                                                                                        <li><i class="fas fa-check-circle"></i> <div>4. <strong>Confirmation:</strong> Approve the DebiCheck on your phone for repayment security.</div></li>
                                                                                                                        <li><i class="fas fa-check-circle"></i> <div>5. <strong>Payout:</strong> Once finalised, we pay out within 24 hours.</div></li>
                                                                                                                    </ul>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="sppb-section wrapper-shadow" id="section-id-1567061622089">
                                                        <div class="sppb-container-inner">
                                                            <div class="sppb-row sppb-nested-row">
                                                                <div class="sppb-col-md-12" id="column-wrap-id-1567061622167">
                                                                    <div class="sppb-column" id="column-id-1567061622167">
                                                                        <div class="sppb-column-addons">
                                                                            <div class="sppb-addon-wrapper addon-root-heading" id="sppb-addon-wrapper-1567061851248">
                                                                                <div class="clearfix" id="sppb-addon-1567061851248">
                                                                                    <div class="sppb-addon sppb-addon-header text-dark-color">
                                                                                        <h3 class="sppb-addon-title">Your most Frequently Asked Questions <strong>Answered</strong></h3>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="sppb-addon-wrapper addon-root-text-block" id="sppb-addon-wrapper-1567061923014">
                                                                                <div class="clearfix" id="sppb-addon-1567061923014">
                                                                                    <div class="sppb-addon sppb-addon-text-block">
                                                                                        <div class="sppb-addon-content">
                                                                                            Have questions? We’ve got answers. Browse our FAQs to find quick and clear information about our loan process, eligibility criteria, repayment terms, and more. 
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="sppb-addon-wrapper addon-root-button" id="sppb-addon-wrapper-1567061966949">
                                                                                <div class="clearfix" id="sppb-addon-1567061966949">
                                                                                    <div class="sppb-button-wrapper">
                                                                                        <a class="sppb-btn sppb-btn-primary sppb-btn-rounded sppb-btn-outline" href="/f-a-q" id="btn-1567061966949">FAQ</a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </section>
</MainLayout>




